In [1]:
import time
import adodbapi
import pandas as pd
import os
import numpy as np
from concurrent.futures import ThreadPoolExecutor, as_completed

In [9]:
client_manuf =["Malard Nicolas"]
client_brands = ["Nicolas"]

decimals = 2
sign = "after"
currency = '€'
currency = ' '+ currency if sign.lower() == 'after' else  currency + ' '

prodORitem="SKU"

categories =["Effervescents"]
sectors = ["Champagnes","Mousseux","Effervescents Sans Alcool"]
segments = ["Blanc De Blancs","Bruts","Crus","Extra Brut","Millesimes","Rosés","Mousseux Bourgogne","Mousseux Italiens","Mousseux Val De Loire","Mousseux Alsace","Mousseux Bordelais"]
subsegments= []
subcategories= []

national = True
customareas= "Revenue"
areas = ["NATIONAL","CHANNEL","REGION", f'{customareas}']
 
regions_RET  = []
channels_RET = []
market_RET = []
 
regions_CHAN = ["NICOLAS", "HMSM"]
channels_CHAN = ["NICOLAS QCN","NICOLAS VCN","NICOLAS QCT","NICOLAS QCA","NICOLAS CCP"]
market_CHAN = []

regions_REG = []
channels_REG = ["NICOLAS IDF","NICOLAS PAC","NICOLAS RHO","NICOLAS AQU","NICOLAS EST"]
market_REG = []

regions_CUST = []
channels_CUST = ["CA A","CA B","CA C","CA D","CA E"]
market_CUST = []
 
data_source = "DATA SOURCE: Trade Panel/Retailer Data | Ending June 2025"
end_date = "2025-07-01"

years = {2023,2024,2025}

ManufOrTopC ="Top Companies" #Manufacturer or Top Companies
BrandOrTopB= "Top Brands" #Brand or Top Brands

past_12_months = pd.date_range(end=end_date, periods=12, freq='ME').strftime('%b-%y').tolist()
past_3_months = pd.date_range(end=end_date, periods=3, freq='ME').strftime('%b-%y').tolist()
past_36_months = pd.date_range(end=end_date, periods=36, freq='ME').strftime('%b-%y').tolist()

National= ["NATIONAL"] if national else []
regions = regions_RET + regions_CHAN + regions_CUST
channels = channels_RET + channels_CHAN + channels_CUST
markets = market_RET + market_CHAN + market_CUST
brands_only = True  # Get the Data of SKU Share by brands level only


entity_hierarchy = [
    ("Area","NATIONAL",National),
    ("Region", "RETAILER", regions_RET),
    ("Channel", "RETAILER", channels_RET),
    ("Market", "RETAILER",  market_RET),
    ("Region", "CHANNEL",regions_CHAN),
    ("Channel", "CHANNEL",channels_CHAN),
    ("Market", "CHANNEL",market_CHAN),
   ("Region", "REGION",regions_REG),
   ("Channel","REGION",channels_REG),
   ("Market","REGION", market_REG),
   ("Region",customareas, regions_CUST),
    ("Channel", customareas, channels_CUST),
    ("Market", customareas, market_CUST)
]
print(entity_hierarchy)
hierarchy_levels = [
    ("Category", categories),
    ("Sector", sectors),
    ("Segment", segments),
    ("SubSegment", subsegments),
    ("SubCategory", subcategories)
 
]
direct_parent = {"Sector":"Category",
                "Segment":"Sector",
                "SubSegment":"Segment", 
                "SubCategory":"Segment"}

server = "powerbi://api.powerbi.com/v1.0/myorg/Nicolas"
dataset_name = "Nicolas Sparkling Dataset"

p12m_dax = "{" + ", ".join(f'"{date}"' for date in past_12_months) + "}"
p3m_dax = "{" + ", ".join(f'"{date}"' for date in past_3_months) + "}"
p36m_dax = "{" + ", ".join(f'"{date}"' for date in past_36_months) + "}"

print(p12m_dax)
path=os.path.join(os.getcwd(),"Pricing Datasets NewEX")

conn_str = f"Provider=MSOLAP.8;Data Source={server};Initial Catalog={dataset_name};Timeout=900;"
print(conn_str)

[('Area', 'NATIONAL', ['NATIONAL']), ('Region', 'RETAILER', []), ('Channel', 'RETAILER', []), ('Market', 'RETAILER', []), ('Region', 'CHANNEL', ['NICOLAS', 'HMSM']), ('Channel', 'CHANNEL', ['NICOLAS QCN', 'NICOLAS VCN', 'NICOLAS QCT', 'NICOLAS QCA', 'NICOLAS CCP']), ('Market', 'CHANNEL', []), ('Region', 'REGION', []), ('Channel', 'REGION', ['NICOLAS IDF', 'NICOLAS PAC', 'NICOLAS RHO', 'NICOLAS AQU', 'NICOLAS EST']), ('Market', 'REGION', []), ('Region', 'Revenue', []), ('Channel', 'Revenue', ['CA A', 'CA B', 'CA C', 'CA D', 'CA E']), ('Market', 'Revenue', [])]
{"Jul-24", "Aug-24", "Sep-24", "Oct-24", "Nov-24", "Dec-24", "Jan-25", "Feb-25", "Mar-25", "Apr-25", "May-25", "Jun-25"}
Provider=MSOLAP.8;Data Source=powerbi://api.powerbi.com/v1.0/myorg/Nicolas;Initial Catalog=Nicolas Sparkling Dataset;Timeout=900;

## Price Positioning

In [3]:
def execute_dax_query(BrandorManuf,entity_name,entity_type, mkt, area, hierby):
    outputdic = {}
    key =  f"{entity_type} | {entity_name}"


    columns = [
        "Relative Price",'Av Price/Unit','Value Sales','Value Share','Value Share DYA','Av Price/KG','IYA Price/KG'
    ]
    
    column_exprs = ", ".join(f'"{col}", COALESCE([{col}], 0)' for col in columns)

    # Main query
    dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Products,
                    Products[{BrandorManuf}]
                ),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            Products[{hierby}] = "{entity_type}",
            TREATAS({{"{entity_name}"}}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{hierby}")
        )
    """

    # Grand total query (not grouped by BrandOrTopB, just Category)
    grandtotal_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                VALUES(Products[Category]),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            TREATAS({{"{entity_name}"}}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{hierby}")
        )
    """
    try:
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(dax_query)
            columns = [desc[0] for desc in cursor.description]
            data = cursor.fetchall()
            

        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(grandtotal_query)
            grandtotal_columns = [desc[0] for desc in cursor.description]
            grandtotal_data = cursor.fetchall()
            
            df = pd.DataFrame(data, columns=columns)
            df.columns = df.columns.str.replace(r'.*\[|\]', '', regex=True)         
            df = df.loc[~(df.select_dtypes(include='number') == 0).all(axis=1)]  # Remove zero rows

            grand_tot = pd.DataFrame(grandtotal_data, columns=grandtotal_columns)
            
            grand_tot.columns = grand_tot.columns.str.replace(r'.*\[|\]', '', regex=True)
            grand_tot = grand_tot.loc[~(grand_tot.select_dtypes(include='number') == 0).all(axis=1)]  # Remove zero rows

            grand_tot[df.columns[0]] = 'Grand Total'

            # Reorder columns if necessary
            grand_tot = grand_tot[df.columns]
            
            

            # Concatenate the two

            df = pd.concat([df, grand_tot], ignore_index=True)
            outputdic[key] = df  

            
            print(f"Query executed successfully for {entity_name}.")
    except adodbapi.DatabaseError as db_error:
        print(f"Database error for {entity_name} in {mkt}: {db_error}")
    except Exception as e:
        print(f"Unexpected error for {entity_name} in {mkt}: {e}")

    return outputdic



def process_dax_queries(BrandorManuf,entity_hierarchy, hierarchy_levels):
    with ThreadPoolExecutor(max_workers=8) as executor:
        dfs_results = {} 
        futures = {}
        ordered_keys=[]
        for hierby, hier_values in hierarchy_levels:
            if isinstance(hier_values, list):
                for value in hier_values:
                    for mkt, area, entity_list in entity_hierarchy:
                        for entity in entity_list:
                            # print(hierby,value,entity)                                    
                            key = f"{value} | {entity}"
                            ordered_keys.append(key)
                            future = executor.submit(execute_dax_query,BrandorManuf, entity,value,mkt, area, hierby)
                            futures[future] = key
       
        temp_results = {}
        for future in as_completed(futures):
            result = future.result()
            temp_results.update(result)

        # Insert results in original order
        for key in ordered_keys:
            if key in temp_results:
                dfs_results[key] = temp_results[key]
        if BrandorManuf==f'{BrandOrTopB}':
            filename =  f"price_positioning_brands.pkl"
        else:
            filename =  f"price_positioning_manuf.pkl"
        output_file = f"{path}\\{filename}"
        with open(output_file, "wb") as f:
            pd.to_pickle(dfs_results, f)
        
        print(f"All DataFrames saved to {output_file}.")

process_dax_queries(f'{BrandOrTopB}',entity_hierarchy,hierarchy_levels) 
process_dax_queries(f'{ManufOrTopC}',entity_hierarchy,hierarchy_levels)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for National.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for National.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for National.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for National.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for National.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for National.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for National.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for National.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for National.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for National.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for National.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for National.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for National.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for HMSM.
Query executed successfully for National.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for National.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for CA C.
             Top Brands  Relative Price  Av Price/Unit   Value Sales  \
0        Charles Volner           0.231         4.2683  3.955240e+07
1            All Others           1.281         9.8950  1.282705e+08
2               Chandon           2.899        18.4010  1.688840e+05
3         Café De Paris           0.547         5.0006  4.691110e+06
4    Chateau Moncontour           1.087         7.6768  4.398701e+06
..                  ...             ...            ...           ...
126        Luna Argenta           1.241         8.3056  1.365655e+06
127            Moillard           1.157         7.6982  3.026483e+06
128  Jean Paul Couamais           0.914         7.2229  9.474620e+05
129      Louis Bouillot           1.332         9.7828  1.797924e+06
130         Grand Total           1.000         8.6593  1.165128e+09

     Value Share  Value Share DYA  Av Price/KG  IYA Price/KG
0       0.033947         0.000871       1.9595         0.889
1       0.110091        -0.002473      10.8599         1.014
2       0.000145         0.000143      24.5828         1.292
3       0.004026        -0.001160       4.6414         0.708
4       0.003775        -0.000226       9.2212         1.030
..           ...              ...          ...           ...
126     0.001172        -0.000013      10.5256         0.963
127     0.002598         0.000810       9.8121         1.035
128     0.000813        -0.000032       7.7474         1.140
129     0.001543         0.000207      11.2926         1.072
130     1.000000         0.000000       8.4795         0.989

[131 rows x 8 columns]
                     Top Brands  Relative Price  Av Price/Unit  Value Sales  \
0                    All Others           0.443        15.8917    3454737.0
1            Chateau Moncontour           0.320        11.4077     282454.0
2                Bouvet-Ladubay           0.316        11.8006     305234.0
3                     De Venoge           1.204        40.7427     621896.0
4                       Henriot           1.223        36.4252     807656.0
5                      Roederer           2.187        78.3689    2050287.0
6                    Taittinger           1.338        54.5913    1730707.0
7                         Deutz           1.372        49.9045    4988401.0
8                Moët & Chandon           1.275        45.4873    1081780.0
9                       Ruinart           1.939        69.8643   15694034.0
10         Besserat De Bellefon           1.181        40.9468    1558722.0
11                   Demoiselle           1.032        34.3515    1341598.0
12              Laurent Perrier           1.324        52.7049    3290262.0
13                         Krug           8.311       319.3046     196053.0
14               Veuve Clicquot           1.542        55.0351    1266687.0
15                    Jaillance           0.268        11.4129       1769.0
16                      Pommery           1.301        39.6026     840802.0
17              Piper Heidsieck           1.150        41.3945     311742.0
18                       Lanson           1.267        45.7017     261642.0
19                      Vranken           1.150        41.4255     232563.0
20                 Dom Perignon           7.586       278.3003    1239828.0
21                      Nicolas           0.666        23.6530    5705587.0
22                    Bollinger           1.758        66.7843    1523149.0
23  Vranken Pommery: All Others           0.386        18.3333         55.0
24               Canard Duchêne           0.880        30.4790    1768728.0
25                      Bottega           0.322        11.4515     607538.0
26                  De Chanceny           0.591        21.0633     480664.0
27                         Mure           0.495        17.4328     388332.0
28                   Vilaveroni           0.181         6.5398       7717.0
29                       Celene           0.252         9.6836       9364.0
30                    Contarini           0.271        11.4447      90905.0
31       Lanson-Bcc: All Others           1.098        38.4000      16320.0
32             Cru La Maqueline           0.302        10.8071      59904.0
33                       Savian           0.498        17.7486     810472.0
34           Nicolas Feuillatte           0.904        32.9793    2270261.0
35      Heidsieck & Co Monopole           0.823        29.2824    2092464.0
36                         Mumm           4.192       199.0000        199.0
37                Perrier Jouet           1.579        56.4650     958888.0
38                       Martel           0.673        28.7556       2588.0
39                       Malard           0.886        31.5712    3234970.0
40                     Vesselle           0.877        31.3740     574992.0
41          Campari: All Others           1.066        37.9774     741737.0
42                    De Bligny           0.864        30.7929    1771268.0
43                        Ayala           1.090        38.8708    1924571.0
44                   Patriarche           0.359        12.7646     507318.0
45                    Delamotte           1.469        53.5214     200170.0
46  Laurent Perrier: All Others          46.820      1746.1429      24446.0
47                       Kriter           0.161         5.7388     100733.0
48                 Louis Martin           0.882        31.5137     279022.0
49                       Lyre's           0.320        11.3858     219371.0
50                  Grand Total           1.000        35.8393   67930587.0

     Value Share  Value Share DYA  Av Price/KG  IYA Price/KG
0   5.085687e-02     4.521769e-03      21.0188         0.730
1   4.157980e-03    -2.347619e-04      15.2127         1.079
2   4.493322e-03     7.761994e-04      14.9889         0.988
3   9.154875e-03     6.337836e-04      57.1438         0.981
4   1.188943e-02    -2.507405e-03      58.0588         0.999
5   3.018209e-02    -1.989691e-03     103.7962         1.039
6   2.547758e-02    -2.923259e-03      63.4982         1.007
7   7.343380e-02    -4.599197e-03      65.1057         1.012
8   1.592479e-02     3.657295e-03      60.5056         0.936
9   2.310304e-01     1.990273e-02      92.0450         0.906
10  2.294580e-02    -4.541303e-03      56.0510         1.002
11  1.974954e-02    -2.089970e-03      48.9885         1.014
12  4.843565e-02     6.947602e-03      62.8284         0.922
13  2.886078e-03     4.850729e-04     394.4728         0.859
14  1.864678e-02     1.148783e-03      73.1724         0.974
15  2.604129e-05    -1.567216e-04      12.7266         0.945
16  1.237737e-02    -6.594587e-03      61.7329         1.082
17  4.589126e-03    -1.868331e-03      54.5767         1.072
18  3.851608e-03     5.436044e-04      60.1338         1.041
19  3.423539e-03    -1.196902e-04      54.5923         1.005
20  1.825140e-02     7.534629e-04     360.1011         0.923
21  8.399143e-02     7.170310e-03      31.6336         1.002
22  2.242214e-02    -1.668821e-03      83.4602         0.987
23  8.096500e-07     5.632835e-07      18.3333         1.019
24  2.603728e-02    -1.913581e-03      41.7507         1.026
25  8.943512e-03     1.100490e-03      15.2617         0.992
26  7.075811e-03     5.365617e-03      28.0467         0.761
27  5.716600e-03     3.781397e-04      23.4826         0.992
28  1.136013e-04    -1.084297e-04       8.6127         1.015
29  1.378466e-04    -1.107030e-03      11.9744         0.944
30  1.338204e-03    -9.684109e-03      12.8597         1.037
31  2.402452e-04    -2.244986e-05      52.1406         1.062
32  8.818413e-04    -2.864702e-05      14.3242         1.115
33  1.193088e-02    -1.570299e-03      23.6600         0.810
34  3.342031e-02    -3.531216e-03      42.9177         1.042
35  3.080297e-02    -8.025794e-03      39.0421         1.033
36  2.929461e-06     2.929461e-06     199.0000         0.000
37  1.411570e-02     6.387179e-04      74.9365         0.967
38  3.809771e-05    -1.894354e-04      31.9506         0.971
39  4.762170e-02     1.710965e-03      42.0426         1.023
40  8.464405e-03    -2.576194e-03      41.6178         1.020
41  1.091904e-02     1.581179e-03      50.5960         1.018
42  2.607468e-02    -1.482674e-03      40.9930         1.070
43  2.833143e-02     7.693361e-04      51.7483         1.021
44  7.468182e-03    -3.072056e-05      17.0241         1.009
45  2.946684e-03    -1.790629e-04      69.7214         0.980
46  3.598673e-04     5.705557e-05    2222.3636         1.105
47  1.482881e-03    -3.652903e-06       7.6388         1.042

## Sector/Segment/SubSegment Leaderships (SINGLE)

In [11]:
def execute_dax_query(entity_name, mkt, area, hierby, client, total=True):
    outputdic = {}
    key = f"{client} | {entity_name}" if client else f"{entity_name}"

    
    columns = [
        "Value Share", "Value Sales", "Av Price/KG", "WoB %", "Gross Margin %"
    ]
    column_exprs = ", ".join(f'"{col}", COALESCE([{col}], 0)' for col in columns)

    # Prepare client brand filter conditionally
    client_filter = ""
    if not total and client:
        client_filter = f'''
            FILTER(
                Products,
                Products[{BrandOrTopB}] = "{client}"
            ),
        '''

    # Main query
    dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Products,
                    Products[{hierby}]
                ),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            {client_filter}
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "Category")
        )
    """
    # Grand total query
    grandtotal_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                VALUES(Products[Category]),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            {client_filter}
            TREATAS({{"{area}"}}, Market[Area]),
            TREATAS({{"{entity_name}"}}, Market[{mkt}])
        )
    """

    try:
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(dax_query)
            columns_result = [desc[0] for desc in cursor.description]
            data = cursor.fetchall()


        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(grandtotal_query)
            grandtotal_columns = [desc[0] for desc in cursor.description]
            grandtotal_data = cursor.fetchall()

        df = pd.DataFrame(data, columns=columns_result)
        df.columns = df.columns.str.replace(r'.*\[|\]', '', regex=True)
        df = df.loc[~(df.select_dtypes(include='number') == 0).all(axis=1)]

        grand_tot = pd.DataFrame(grandtotal_data, columns=grandtotal_columns)
        grand_tot.columns = grand_tot.columns.str.replace(r'.*\[|\]', '', regex=True)
        grand_tot = grand_tot.loc[~(grand_tot.select_dtypes(include='number') == 0).all(axis=1)]
        grand_tot[df.columns[0]] = 'Grand Total'
        grand_tot = grand_tot[df.columns]
        df = pd.concat([df, grand_tot], ignore_index=True)
        outputdic[key] = df

        print(f"Query executed successfully for {entity_name}.")
    except adodbapi.DatabaseError as db_error:
        print(f"Database error for {entity_name} in {mkt}: {db_error}")
    except Exception as e:
        print(f"Unexpected error for {entity_name} in {mkt}: {e}")

    return outputdic


def process_dax_queries(entity_hierarchy, hierarchy_levels, client_brands=None, total=False):
    with ThreadPoolExecutor(max_workers=8) as executor:
        
        dfs_results = {} 
        futures = {}
        ordered_keys = []
        for hierby, hier_values in hierarchy_levels:
            if isinstance(hier_values, list):
                if client_brands: 
                    for mkt, area, entity_list in entity_hierarchy:
                        for entity in entity_list:
                            for client in client_brands:
                                key = f"{client} | {entity}"
                                ordered_keys.append(key)
                                future = executor.submit(
                                    execute_dax_query, entity, mkt, area, hierby, client, total
                                )
                                futures[future] = key
                else:
                    for mkt, area, entity_list in entity_hierarchy:
                        for entity in entity_list:
                            key = f"{entity}"
                            ordered_keys.append(key)
                            future = executor.submit(
                                execute_dax_query, entity, mkt, area, hierby, '', total
                            )
                            futures[future] = key

            temp_results = {}
            for future in as_completed(futures):
                result = future.result()
                temp_results.update(result)

            for key in ordered_keys:
                if key in temp_results:
                    dfs_results[key] = temp_results[key]

            if client_brands:
                filename = f"{hierby}_leadership.pkl"
            else:
                filename = f"{hierby}_total_leadership.pkl"

            output_file = f"{path}\\{filename}"
            with open(output_file, "wb") as f:
                pd.to_pickle(dfs_results, f)
            
            print(f"All DataFrames for {hierby} saved to {output_file}.")

# Execute
if client_brands:
    process_dax_queries(entity_hierarchy, hierarchy_levels, client_brands=client_brands)

process_dax_queries(entity_hierarchy, hierarchy_levels, total=True)

<adodbapi.apibase.SQLrows object at 0x00000228746EC1D0>
<adodbapi.apibase.SQLrows object at 0x00000228746EFBC0>
<adodbapi.apibase.SQLrows object at 0x00000228746EE960>
<adodbapi.apibase.SQLrows object at 0x00000228746ECAD0>
<adodbapi.apibase.SQLrows object at 0x00000228746ED100>
<adodbapi.apibase.SQLrows object at 0x00000228746EFC20>
<adodbapi.apibase.SQLrows object at 0x00000228746ED2B0>
<adodbapi.apibase.SQLrows object at 0x00000228579B6510>
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x00000228579033B0>
<adodbapi.apibase.SQLrows object at 0x00000228579B58B0>
<adodbapi.apibase.SQLrows object at 0x00000228579B69C0>
<adodbapi.apibase.SQLrows object at 0x00000228579B6870>
<adodbapi.apibase.SQLrows object at 0x00000228579B42F0>
<adodbapi.apibase.SQLrows object at 0x0000022873359970>
<adodbapi.apibase.SQLrows object at 0x00000228579B5760>
<adodbapi.apibase.SQLrows object at 0x000002287335ABA0>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA A.
<adodbapi.apibase.SQLrows object at 0x0000022857901670>
<adodbapi.apibase.SQLrows object at 0x0000022857900410>
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Category saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\Category_leadership.pkl.
<adodbapi.apibase.SQLrows object at 0x00000228578D7D40>
<adodbapi.apibase.SQLrows object at 0x00000228579B4650>
<adodbapi.apibase.SQLrows object at 0x000002287332D0A0>
<adodbapi.apibase.SQLrows object at 0x00000228732F15B0>
<adodbapi.apibase.SQLrows object at 0x00000228732F0890>
<adodbapi.apibase.SQLrows object at 0x00000228732F0080>
<adodbapi.apibase.SQLrows object at 0x00000228732F3D40>
<adodbapi.apibase.SQLrows object at 0x00000228732F12B0>
Query executed successfully for NICOLAS QCN.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
<adodbapi.apibase.SQLrows object at 0x00000228732F1520>
<adodbapi.apibase.SQLrows object at 0x00000228579B48C0>
<adodbapi.apibase.SQLrows object at 0x00000228732F2180>
<adodbapi.apibase.SQLrows object at 0x00000228732F3050>
<adodbapi.apibase.SQLrows object at 0x00000228732F2000>
<adodbapi.apibase.SQLrows object at 0x00000228732F19D0>
<adodbapi.apibase.SQLrows object at 0x00000228732F10A0>
<adodbapi.apibase.SQLrows object at 0x00000228579B64E0>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for CA A.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x000002287332C470>
<adodbapi.apibase.SQLrows object at 0x00000228579B65D0>
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Sector saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\Sector_leadership.pkl.
<adodbapi.apibase.SQLrows object at 0x00000228732DA360>
<adodbapi.apibase.SQLrows object at 0x00000228579B59A0>
<adodbapi.apibase.SQLrows object at 0x00000228732F2C00>
<adodbapi.apibase.SQLrows object at 0x0000022857900BC0>
<adodbapi.apibase.SQLrows object at 0x00000228732D9A90>
<adodbapi.apibase.SQLrows object at 0x00000228732DAA50>
<adodbapi.apibase.SQLrows object at 0x00000228732D8D40>
<adodbapi.apibase.SQLrows object at 0x00000228732D9F70>
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
<adodbapi.apibase.SQLrows object at 0x00000228732D84A0>
<adodbapi.apibase.SQLrows object at 0x00000228732D8860>
<adodbapi.apibase.SQLrows object at 0x00000228732DAAB0>
<adodbapi.apibase.SQLrows object at 0x00000228732DB1D0>
<adodbapi.apibase.SQLrows object at 0x00000228732DBBC0>
<adodbapi.apibase.SQLrows object at 0x00000228579B59A0>
<adodbapi.apibase.SQLrows object at 0x00000228732D9010>
<adodbapi.apibase.SQLrows object at 0x00000228746EB260>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x00000228732D8830>
<adodbapi.apibase.SQLrows object at 0x00000228732DA7B0>
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Segment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\Segment_leadership.pkl.
<adodbapi.apibase.SQLrows object at 0x00000228746EA8D0>
<adodbapi.apibase.SQLrows object at 0x00000228732D9070>
<adodbapi.apibase.SQLrows object at 0x00000228732DA360>
<adodbapi.apibase.SQLrows object at 0x00000228732D99D0>
<adodbapi.apibase.SQLrows object at 0x00000228746E8B30>
<adodbapi.apibase.SQLrows object at 0x00000228746EBCE0>
<adodbapi.apibase.SQLrows object at 0x00000228746EA660>
<adodbapi.apibase.SQLrows object at 0x00000228746E88F0>
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
<adodbapi.apibase.SQLrows object at 0x00000228746EB290>
<adodbapi.apibase.SQLrows object at 0x00000228746EB860>
<adodbapi.apibase.SQLrows object at 0x00000228746E9370>
<adodbapi.apibase.SQLrows object at 0x00000228746E9250>
<adodbapi.apibase.SQLrows object at 0x00000228746EBC50>
<adodbapi.apibase.SQLrows object at 0x00000228746E9E20>
<adodbapi.apibase.SQLrows object at 0x0000022874374290>
<adodbapi.apibase.SQLrows object at 0x0000022874377860>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.
<adodbapi.apibase.SQLrows object at 0x00000228732DB8F0>
<adodbapi.apibase.SQLrows object at 0x00000228746EA630>
Query executed successfully for CA E.
Query executed successfully for CA D.
All DataFrames for SubSegment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\SubSegment_leadership.pkl.
<adodbapi.apibase.SQLrows object at 0x0000022874376A80>
<adodbapi.apibase.SQLrows object at 0x00000228732DAF90>
<adodbapi.apibase.SQLrows object at 0x00000228746EA8D0>
<adodbapi.apibase.SQLrows object at 0x00000228746EAFC0>
<adodbapi.apibase.SQLrows object at 0x0000022874376330>
<adodbapi.apibase.SQLrows object at 0x0000022873319B20>
<adodbapi.apibase.SQLrows object at 0x0000022873319070>
<adodbapi.apibase.SQLrows object at 0x00000228732F1A60>
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
<adodbapi.apibase.SQLrows object at 0x000002287331BC20>
<adodbapi.apibase.SQLrows object at 0x0000022873318320>
<adodbapi.apibase.SQLrows object at 0x0000022874376690>
<adodbapi.apibase.SQLrows object at 0x000002287329CF80>
<adodbapi.apibase.SQLrows object at 0x000002287329C590>
<adodbapi.apibase.SQLrows object at 0x000002287329F9E0>
<adodbapi.apibase.SQLrows object at 0x000002287329EAE0>
<adodbapi.apibase.SQLrows object at 0x000002287329C3B0>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x00000228746E89E0>
<adodbapi.apibase.SQLrows object at 0x00000228746EB0B0>
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubCategory saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\SubCategory_leadership.pkl.
<adodbapi.apibase.SQLrows object at 0x000002287331B890>
<adodbapi.apibase.SQLrows object at 0x000002287331BFE0>
<adodbapi.apibase.SQLrows object at 0x000002287331B6B0>
<adodbapi.apibase.SQLrows object at 0x00000228732DBC80>
<adodbapi.apibase.SQLrows object at 0x00000228732D8E00>
<adodbapi.apibase.SQLrows object at 0x00000228732D9610>
<adodbapi.apibase.SQLrows object at 0x00000228732D8B60>
<adodbapi.apibase.SQLrows object at 0x00000228732D9820>
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x00000228732D98B0>
<adodbapi.apibase.SQLrows object at 0x00000228732DB980>
<adodbapi.apibase.SQLrows object at 0x0000022873319DC0>
<adodbapi.apibase.SQLrows object at 0x00000228746E9910>
<adodbapi.apibase.SQLrows object at 0x00000228746E88F0>
<adodbapi.apibase.SQLrows object at 0x00000228732DB3E0>
<adodbapi.apibase.SQLrows object at 0x00000228732D8AA0>
<adodbapi.apibase.SQLrows object at 0x00000228732DB4A0>
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA A.
<adodbapi.apibase.SQLrows object at 0x00000228565F3110>
<adodbapi.apibase.SQLrows object at 0x00000228579028D0>
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Category saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\Category_total_leadership.pkl.
<adodbapi.apibase.SQLrows object at 0x0000022857902A20>
<adodbapi.apibase.SQLrows object at 0x0000022857902FF0>
<adodbapi.apibase.SQLrows object at 0x0000022857901C10>
<adodbapi.apibase.SQLrows object at 0x00000228746EDDC0>
<adodbapi.apibase.SQLrows object at 0x00000228746EE9F0>
<adodbapi.apibase.SQLrows object at 0x00000228578D74D0>
<adodbapi.apibase.SQLrows object at 0x00000228733186E0>
<adodbapi.apibase.SQLrows object at 0x00000228746EA240>
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
<adodbapi.apibase.SQLrows object at 0x00000228746EF620>
<adodbapi.apibase.SQLrows object at 0x00000228746EF5F0>
<adodbapi.apibase.SQLrows object at 0x00000228746EDBE0>
<adodbapi.apibase.SQLrows object at 0x00000228746E8CE0>
<adodbapi.apibase.SQLrows object at 0x00000228746EA7B0>
<adodbapi.apibase.SQLrows object at 0x00000228746ED2B0>
<adodbapi.apibase.SQLrows object at 0x00000228746EB590>
<adodbapi.apibase.SQLrows object at 0x00000228746EE8A0>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x00000228732D81D0>
<adodbapi.apibase.SQLrows object at 0x00000228732D8320>
Query executed successfully for CA E.
Query executed successfully for CA D.
All DataFrames for Sector saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\Sector_total_leadership.pkl.
<adodbapi.apibase.SQLrows object at 0x00000228746ED580>
<adodbapi.apibase.SQLrows object at 0x00000228746EEFC0>
<adodbapi.apibase.SQLrows object at 0x00000228746EE510>
<adodbapi.apibase.SQLrows object at 0x00000228746EF380>
<adodbapi.apibase.SQLrows object at 0x00000228746EE120>
<adodbapi.apibase.SQLrows object at 0x00000228732F2330>
<adodbapi.apibase.SQLrows object at 0x00000228732F1D90>
<adodbapi.apibase.SQLrows object at 0x00000228732F1490>
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x00000228732F2BA0>
<adodbapi.apibase.SQLrows object at 0x00000228732F0590>
<adodbapi.apibase.SQLrows object at 0x00000228732F35F0>
<adodbapi.apibase.SQLrows object at 0x00000228732F03B0>
<adodbapi.apibase.SQLrows object at 0x00000228732F1550>
<adodbapi.apibase.SQLrows object at 0x00000228732F1F40>
<adodbapi.apibase.SQLrows object at 0x00000228732F0AA0>
<adodbapi.apibase.SQLrows object at 0x00000228732F11F0>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for CA A.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NICOLAS AQU.
<adodbapi.apibase.SQLrows object at 0x00000228732DB4D0>
<adodbapi.apibase.SQLrows object at 0x00000228746E9DF0>
Query executed successfully for CA E.
Query executed successfully for CA D.
All DataFrames for Segment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\Segment_total_leadership.pkl.
<adodbapi.apibase.SQLrows object at 0x00000228732D8DD0>
<adodbapi.apibase.SQLrows object at 0x00000228746EA960>
<adodbapi.apibase.SQLrows object at 0x0000022874376A80>
<adodbapi.apibase.SQLrows object at 0x0000022874376300>
<adodbapi.apibase.SQLrows object at 0x0000022857901400>
<adodbapi.apibase.SQLrows object at 0x0000022874377560>
<adodbapi.apibase.SQLrows object at 0x0000022874377890>
<adodbapi.apibase.SQLrows object at 0x00000228579B5280>
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x00000228579B7650>
<adodbapi.apibase.SQLrows object at 0x00000228579B7FB0>
<adodbapi.apibase.SQLrows object at 0x00000228579B50D0>
<adodbapi.apibase.SQLrows object at 0x00000228732F1FA0>
<adodbapi.apibase.SQLrows object at 0x00000228579B4650>
<adodbapi.apibase.SQLrows object at 0x00000228579B4EF0>
<adodbapi.apibase.SQLrows object at 0x00000228732F2420>
<adodbapi.apibase.SQLrows object at 0x00000228579B73B0>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x00000228746EF320>
<adodbapi.apibase.SQLrows object at 0x00000228746EC6E0>
Query executed successfully for CA E.
Query executed successfully for CA D.
All DataFrames for SubSegment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\SubSegment_total_leadership.pkl.
<adodbapi.apibase.SQLrows object at 0x000002287329CBF0>
<adodbapi.apibase.SQLrows object at 0x00000228732DB710>
<adodbapi.apibase.SQLrows object at 0x00000228746EC0B0>
<adodbapi.apibase.SQLrows object at 0x000002287329E2A0>
<adodbapi.apibase.SQLrows object at 0x000002287329F1D0>
<adodbapi.apibase.SQLrows object at 0x000002287329FD70>
<adodbapi.apibase.SQLrows object at 0x00000228579D0DA0>
<adodbapi.apibase.SQLrows object at 0x00000228579D3650>
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x00000228579D2DB0>
<adodbapi.apibase.SQLrows object at 0x00000228579D1AC0>
<adodbapi.apibase.SQLrows object at 0x00000228579D2450>
<adodbapi.apibase.SQLrows object at 0x00000228579B7BC0>
<adodbapi.apibase.SQLrows object at 0x00000228577F9010>
<adodbapi.apibase.SQLrows object at 0x00000228579E1F40>
<adodbapi.apibase.SQLrows object at 0x00000228579E3A10>
<adodbapi.apibase.SQLrows object at 0x00000228579E0230>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x00000228732F2E40>
<adodbapi.apibase.SQLrows object at 0x00000228579D2D20>
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubCategory saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\SubCategory_total_leadership.pkl.

## Sector/Segment Leaderships

In [12]:
def execute_dax_query(entity_name, mkt, area, hierby,direct_parent, client,manuf, total=False):
    outputdic = {}
    key = f"{client} | {entity_name}" if client else (f"{manuf} | {entity_name}" if manuf else f"{entity_name}")


    columns = [
        "Value Share", "Value Sales", "Av Price/KG", "WoB %", "Gross Margin %"
    ]
    column_exprs = ", ".join(f'"{col}", COALESCE([{col}], 0)' for col in columns)

    # Prepare client brand filter conditionally
    client_filter = ""
    if not total and client:
        client_filter = f'''
            FILTER(
                Products,
                Products[{BrandOrTopB}] = "{client}"
            ),
        '''    
    manuf_filter=''
    if not total and manuf:
        manuf_filter = f'''
            FILTER(
                Products,
                Products[{ManufOrTopC}] = "{manuf}"
            ),
        '''

    # Main query
    dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Products,
                    Products[{direct_parent[hierby]}],
                    Products[{hierby}]
                    
                ),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            {client_filter}
            {manuf_filter}
            TREATAS({{"{entity_name}"}}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "Category")
        )
    """
    parenttotal_dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Products,
                    Products[{direct_parent[hierby]}]                   
                ),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            {client_filter}
            {manuf_filter}
            TREATAS({{"{entity_name}"}}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "Category")
        )
    """
        # Grand total query
    grandtotal_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                VALUES(Products[Category]),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            {client_filter}
            {manuf_filter}
            TREATAS({{"{area}"}}, Market[Area]),
            TREATAS({{"{entity_name}"}}, Market[{mkt}])
        )
    """

    try:
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(dax_query)
            columns_result = [desc[0] for desc in cursor.description]
            data = cursor.fetchall()
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(parenttotal_dax_query)
            maintotal_columns = [desc[0] for desc in cursor.description]
            maintotal_data = cursor.fetchall()
            
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(grandtotal_query)
            grandtotal_columns = [desc[0] for desc in cursor.description]
            grandtotal_data = cursor.fetchall()

        df = pd.DataFrame(data, columns=columns_result)
        df.columns = df.columns.str.replace(r'.*\[|\]', '', regex=True)
        df = df.loc[~(df.select_dtypes(include='number') == 0).all(axis=1)]
        maintotal_df = pd.DataFrame(maintotal_data, columns=maintotal_columns)
        maintotal_df.columns = maintotal_df.columns.str.replace(r'.*\[|\]', '', regex=True)
        maintotal_df = maintotal_df.loc[~(maintotal_df.select_dtypes(include='number') == 0).all(axis=1)]
        
        grand_tot = pd.DataFrame(grandtotal_data, columns=grandtotal_columns)
        grand_tot.columns = grand_tot.columns.str.replace(r'.*\[|\]', '', regex=True)
        grand_tot = grand_tot.loc[~(grand_tot.select_dtypes(include='number') == 0).all(axis=1)]
        
        if maintotal_df.shape[1] > 1:
            maintotal_df.iloc[:, 0] = maintotal_df.iloc[:, 0].astype(str) + " Total"

        if maintotal_df.empty:
            outputdic[key] = maintotal_df
            return outputdic
        if not maintotal_df.empty:
            df_with_totals = pd.concat([df,maintotal_df], ignore_index=True)
    
        if not grand_tot.empty:
            # Create a dict for the first two columns
            grand_tot[df.columns[0]] = 'Grand Total'
            grand_tot[df.columns[1]] = np.nan  # or pd.NA

            # Ensure all required columns exist, fill missing ones with NaN
            for col in df.columns:
                if col not in grand_tot.columns:
                    grand_tot[col] = np.nan

            # Reorder columns exactly as in df
            grand_tot = grand_tot[df.columns]
            df = pd.concat([df_with_totals, grand_tot], ignore_index=True)

        outputdic[key] = df

        print(f"Query executed successfully for {entity_name}.")
    except adodbapi.DatabaseError as db_error:
        print(f"Database error for {entity_name} in {mkt}: {db_error}")
    except Exception as e:
        print(f"Unexpected error for {entity_name} in {mkt}: {e}")

    return outputdic


def process_dax_queries(entity_hierarchy, hierarchy_levels,direct_parent, client_brands=None,client_manuf=None, total=False):
    with ThreadPoolExecutor(max_workers=8) as executor:
        dfs_results = {} 
        futures = {}
        ordered_keys = []
        for hierby, hier_values in hierarchy_levels:
            if hierby == "Category" or direct_parent[hierby]=="Category":
                    continue
            if isinstance(hier_values, list):
                if client_brands and not total: 
                    for mkt, area, entity_list in entity_hierarchy:
                        for entity in entity_list:
                            for client in client_brands:
                                key = f"{client} | {entity}"
                                ordered_keys.append(key)
                                future = executor.submit(
                                    execute_dax_query, entity, mkt, area, hierby,direct_parent, client,'', ''
                                )
                                futures[future] = key
                if client_manuf and not total:
                    for mkt, area, entity_list in entity_hierarchy:
                        for entity in entity_list:
                            for manuf in client_manuf:
                                key = f"{manuf} | {entity}"
                                ordered_keys.append(key)
                                future = executor.submit(
                                    execute_dax_query, entity, mkt, area, hierby,direct_parent, '',manuf,''
                                )
                                futures[future] = key               
                elif total==True:
                    for mkt, area, entity_list in entity_hierarchy:
                        for entity in entity_list:
                            key = f"{entity}"
                            ordered_keys.append(key)
                            future = executor.submit(
                                execute_dax_query, entity, mkt, area, hierby, direct_parent,'','', total
                            )
                            futures[future] = key

            temp_results = {}
            for future in as_completed(futures):
                result = future.result()
                temp_results.update(result)

            for key in ordered_keys:
                if key in temp_results:
                    dfs_results[key] = temp_results[key]

            if client_brands:
                filename = f"brand_{hierby}.pkl"
            elif client_manuf:
                filename = f"manuf_{hierby}.pkl"
            else:
                filename = f"total_{hierby}.pkl"

            output_file = f"{path}\\{filename}"
            with open(output_file, "wb") as f:
                pd.to_pickle(dfs_results, f)
            
            print(f"All DataFrames for {hierby} saved to {output_file}.")

if client_brands:
    process_dax_queries(entity_hierarchy, hierarchy_levels,direct_parent, client_brands=client_brands)
if client_manuf:
    process_dax_queries(entity_hierarchy, hierarchy_levels,direct_parent, client_manuf=client_manuf)   
process_dax_queries(entity_hierarchy, hierarchy_levels,direct_parent, total=True)

Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA B.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Segment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\brand_Segment.pkl.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubSegment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\brand_SubSegment.pkl.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubCategory saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\brand_SubCategory.pkl.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Segment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\manuf_Segment.pkl.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubSegment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\manuf_SubSegment.pkl.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA C.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubCategory saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\manuf_SubCategory.pkl.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NICOLAS PAC.
Query executed successfully for CA B.
Query executed successfully for NICOLAS AQU.Query executed successfully for CA C.

Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Segment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\total_Segment.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubSegment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\total_SubSegment.pkl.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubCategory saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\total_SubCategory.pkl.

## Shelf & Avg Price / KG By Brand

In [13]:
def execute_dax_query(manuforbrand,entity_name,entity_type, mkt, area, hierby, incall=True):
    outputdic = {}
    key =  f"{entity_type} | {entity_name}"
    
    if manuforbrand==f'{BrandOrTopB}':
        columns = [
            "Relative Price", "Av Price/Unit", "Value Sales", "IYA Price/KG", "Base Price/KG","Av Price/KG","Value Share","WoB %","Value Share DYA"
        ]
    else:
        columns = ["Base Price/KG","Av Price/KG","Value Share","WoB %","Value Share DYA"]
 

    
    column_exprs = ", ".join(f'"{col}", COALESCE([{col}], 0)' for col in columns)
 
    # Prepare client brand filter conditionally
    scope_filter = ""
    if incall:
        scope_filter = f'''
            FILTER('Scope', 'Scope'[Scope] = "Category"),
            Products[{direct_parent[hierby]}] = "{entity_type}"
            
        '''
    else:
        scope_filter = f'''
            FILTER('Scope', 'Scope'[Scope] = "{hierby}"),
            Products[{direct_parent[hierby]}] = "{entity_type}"
        '''
 
    # Main query
    dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Products,
                    Products[{hierby}],
                    Products[{manuforbrand}]
                ),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            TREATAS({{"{area}"}}, Market[Area]),
            TREATAS({{"{entity_name}"}}, Market[{mkt}]),
            {scope_filter}
        )
    """
    parenttotal_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Products,
                    Products[{hierby}]
 
                ),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            TREATAS({{"{entity_name}"}}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            {scope_filter}
        )
    """
   
    # Grand total query
    grandtotal_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                VALUES(Products[Category]),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            TREATAS({{"{entity_name}"}}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            {scope_filter}
 
        )
    """
 
    try:
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(dax_query)
            columns_result = [desc[0] for desc in cursor.description]
            data = cursor.fetchall()
            
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(parenttotal_query)
            maintotal_columns = [desc[0] for desc in cursor.description]
            maintotal_data = cursor.fetchall()
            
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(grandtotal_query)
            grandtotal_columns = [desc[0] for desc in cursor.description]
            grandtotal_data = cursor.fetchall()
            
 
        df = pd.DataFrame(data, columns=columns_result)
        df.columns = df.columns.str.replace(r'.*\[|\]', '', regex=True)
        df = df.loc[~(df.select_dtypes(include='number') == 0).all(axis=1)]
 
 
        maintotal_df = pd.DataFrame(maintotal_data, columns=maintotal_columns)
        maintotal_df.columns = maintotal_df.columns.str.replace(r'.*\[|\]', '', regex=True)
        maintotal_df = maintotal_df.loc[~(maintotal_df.select_dtypes(include='number') == 0).all(axis=1)]


        grand_tot = pd.DataFrame(grandtotal_data, columns=grandtotal_columns)
        grand_tot.columns = grand_tot.columns.str.replace(r'.*\[|\]', '', regex=True)
        grand_tot = grand_tot.loc[~(grand_tot.select_dtypes(include='number') == 0).all(axis=1)]

 
        if maintotal_df.shape[1] > 1:
            maintotal_df.iloc[:, 0] = maintotal_df.iloc[:, 0].astype(str) + " Total"
 
        if maintotal_df.empty:
            outputdic[key] = maintotal_df
            return outputdic
        if not maintotal_df.empty:
            df_with_totals = pd.concat([df,maintotal_df], ignore_index=True)
 
        if not grand_tot.empty:
            # Ensure 'Grand Total' label is added to the first column of grand_tot
            grand_tot[df_with_totals.columns[0]] = 'Grand Total'
 
            # Keep only columns that exist in df_with_totals
            common_columns = [col for col in df_with_totals.columns if col in grand_tot.columns]
            grand_tot = grand_tot[common_columns]
 
            # Align grand_tot with df_with_totals in case column order matters
            grand_tot = grand_tot.reindex(columns=df_with_totals.columns)



        df = pd.concat([df_with_totals, grand_tot], ignore_index=True)
        outputdic[key] = df
 
 
        print(f"Query executed successfully for {entity_name}.")
    except adodbapi.DatabaseError as db_error:
        print(f"Database error for {entity_name} in {mkt}: {db_error}")
    except Exception as e:
        print(f"Unexpected error for {entity_name} in {mkt}: {e}")
 
    return outputdic
 
 
def process_dax_queries(manuforbrand,entity_hierarchy, hierarchy_levels, incall=False):
    with ThreadPoolExecutor(max_workers=8) as executor:
        hierarchy_dict = dict(hierarchy_levels)
 
        for hierby, _ in hierarchy_levels:
            if hierby == "Category":
                continue
                   
            dfs_results = {}
            futures = {}
            ordered_keys = []
            # Get the parent level name (e.g., 'Segment')
            parent_level = direct_parent[hierby]
            parent_values = hierarchy_dict.get(parent_level, [])
            if isinstance(parent_values, list):
                for value in parent_values:
                    for mkt, area, entity_list in entity_hierarchy:
                        for entity in entity_list:
                            key = f"{value} | {entity}"                          
                            ordered_keys.append(key)
                            future = executor.submit(
                                execute_dax_query,manuforbrand, entity, value, mkt, area, hierby,incall
                            )
                            futures[future] = key
            temp_results = {}
            for future in as_completed(futures):
                result = future.result()
                temp_results.update(result)
 
            for key in ordered_keys:
                if key in temp_results:
                    dfs_results[key] = temp_results[key]
            if manuforbrand==f'{BrandOrTopB}':
                if incall==False:
                    filename = f"shelf_{hierby}_top_brands.pkl"
                else:
                    filename = f"shelf_{hierby}_all_brands.pkl"
            else:
                if incall==False:
                    filename = f"shelf_{hierby}_top_manuf.pkl"
                else:
                    filename = f"shelf_{hierby}_all_manuf.pkl"
 
            output_file = f"{path}\\{filename}"
            with open(output_file, "wb") as f:
                pd.to_pickle(dfs_results, f)
           
            print(f"All DataFrames for {hierby} saved to {output_file}.")
 
 
 
# Execute
process_dax_queries(f'{BrandOrTopB}',entity_hierarchy, hierarchy_levels,incall=False)
process_dax_queries(f'{BrandOrTopB}',entity_hierarchy, hierarchy_levels, incall=True)
process_dax_queries(f'{ManufOrTopC}',entity_hierarchy, hierarchy_levels,incall=False)
process_dax_queries(f'{ManufOrTopC}',entity_hierarchy, hierarchy_levels, incall=True)

Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Sector saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\shelf_Sector_top_brands.pkl.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA C.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Segment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\shelf_Segment_top_brands.pkl.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS RHO.Query executed successfully for NICOLAS AQU.

Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubSegment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\shelf_SubSegment_top_brands.pkl.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA C.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.

## Price Point Distribution By Product (Item)

In [14]:
def execute_dax_query(entity_name, entity_type, mkt, area, hierby, client, manuf,p12m=True):
    outputdic = {}

    key = f"{client} | {entity_name} | {entity_type}" if client else f"{manuf} | {entity_name} | {entity_type}" 
    
    if p12m :
        timeper=p12m_dax
    else:
        timeper=p3m_dax    
    columns = ["Base Price/Unit", "Base Price/KG", "Value Sales", "Gross Margin %"]
    column_exprs = ", ".join(f'"{col}", COALESCE([{col}], 0)' for col in columns)
    client_filter=''
    if client:
        client_filter = f'''
                FILTER(
                    Products,
                    Products[{BrandOrTopB}] = "{client}" &&
                    Products[{ManufOrTopC}] = "{manuf}"
                ),
            '''
   
    manuf_filter = f'FILTER(Products, Products[{ManufOrTopC}] = "{manuf}"),' if manuf else ""

    dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Products,
                    Products[{hierby}],
                    Products[{prodORitem}],
                    Products[Total Size]
                ),
                {column_exprs}
            ),
            Products[{direct_parent[hierby]}] = "{entity_type}",
            TREATAS({timeper}, Calendar[MonthYear]),
            {client_filter}
            {manuf_filter}
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{direct_parent[hierby]}")
        )
    """

    # Parent total query
    parenttotal_dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(Products, Products[{hierby}]),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({timeper}, Calendar[MonthYear]),
            {client_filter}
            {manuf_filter}
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "Category")
        )
    """
    itemtotal_dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(Products,Products[{prodORitem}]),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({timeper}, Calendar[MonthYear]),
            {client_filter}
            {manuf_filter}
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "Category")
        )
    """

    grandtotal_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(VALUES(Products[Category]), {column_exprs}),
            Products[Category] = "{categories[0]}",
            TREATAS({timeper}, Calendar[MonthYear]),
            {client_filter}
            {manuf_filter}
            TREATAS({{"{area}"}}, Market[Area]),
            TREATAS({{ "{entity_name}" }}, Market[{mkt}])
        )
    """

    try:
        with adodbapi.connect(conn_str) as conn:
            with conn.cursor() as cursor:
                cursor.execute(dax_query)
                df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

            with conn.cursor() as cursor:
                cursor.execute(parenttotal_dax_query)
                maintotal_df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
          
            with conn.cursor() as cursor:
                cursor.execute(itemtotal_dax_query)
                itemtotal_df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])


            with conn.cursor() as cursor:
                cursor.execute(grandtotal_query)
                grand_tot = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

        for dataframe in [df,maintotal_df,itemtotal_df, grand_tot]:
            dataframe.columns = dataframe.columns.str.replace(r'.*\[|\]', '', regex=True)
            dataframe.dropna(how='all', inplace=True)

        if not maintotal_df.empty:
            maintotal_df.iloc[:, 0] = maintotal_df.iloc[:, 0].astype(str) + " Total"
            df = pd.concat([df, maintotal_df], ignore_index=True)
      
        if not itemtotal_df.empty:
            itemtotal_df.iloc[:, 0] = itemtotal_df.iloc[:, 0].astype(str) + " Total"
            df = pd.concat([df, itemtotal_df], ignore_index=True)
            
        if not grand_tot.empty:
            grand_tot[df.columns[0]] = 'Grand Total'
            grand_tot[df.columns[1]] = np.nan
            grand_tot = grand_tot.reindex(columns=df.columns)
            df = pd.concat([df, grand_tot], ignore_index=True)

        outputdic[key] = df
        print(f"Query executed successfully for {entity_name}.")

    except adodbapi.DatabaseError as db_error:
        print(f"Database error for {entity_name} in {mkt}: {db_error}")
    except Exception as e:
        print(f"Unexpected error for {entity_name} in {mkt}: {e}")

    return outputdic


def process_dax_queries(entity_hierarchy, hierarchy_levels, client_brands=None, client_manuf=None,p12m=True):
    with ThreadPoolExecutor(max_workers=8) as executor:
        for hierby, hier_values in hierarchy_levels:
            if hierby == "Category":
                continue

            hierarchy_dict = dict(hierarchy_levels)
            parent_level = direct_parent.get(hierby)
            parent_values = hierarchy_dict.get(parent_level, [])

            if not parent_values:
                continue

            futures = {}
            ordered_keys = []

            # Determine prodORitem per level

            for value in parent_values:
                for mkt, area, entity_list in entity_hierarchy:
                    for entity in entity_list:
                        if client_brands:
                            for client in client_brands:
                                for manuf in client_manuf:
                                    key = f"{client} | {entity} | {value}"
                                    ordered_keys.append(key)
                                    futures[executor.submit(
                                        execute_dax_query, entity, value, mkt, area, hierby, client, manuf,p12m
                                    )] = key
                        elif client_manuf:
                            for manuf in client_manuf:
                                key = f"{manuf} | {entity} | {value}"
                                ordered_keys.append(key)
                                futures[executor.submit(
                                    execute_dax_query, entity, value, mkt, area, hierby, None, manuf, p12m
                                )] = key

            dfs_results = {}
            for future in as_completed(futures):
                result = future.result()
                dfs_results.update(result)

            dfs_results = {key: dfs_results[key] for key in ordered_keys if key in dfs_results}
            if p12m:
                 filename = f"price_distribution_{hierby}_{'p12m' if client_brands else 'manuf_p12m'}.pkl"
            else:
                 filename = f"price_distribution_{hierby}_{'p3m' if client_brands else 'manuf_p3m'}.pkl"
                     
            output_file = f"{path}\\{filename}"
            with open(output_file, "wb") as f:
                pd.to_pickle(dfs_results, f)
            print(f"All DataFrames for {hierby} saved to {output_file}.")


# Example Invocation
if client_brands:
    process_dax_queries(entity_hierarchy, hierarchy_levels, client_brands=client_brands,client_manuf=client_manuf,p12m=True)
    process_dax_queries(entity_hierarchy, hierarchy_levels, client_brands=client_brands,client_manuf=client_manuf,p12m=False)

process_dax_queries(entity_hierarchy, hierarchy_levels, client_manuf=client_manuf,p12m=True)
process_dax_queries(entity_hierarchy, hierarchy_levels, client_manuf=client_manuf,p12m=False)

Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
All DataFrames for Sector saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_Sector_p12m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.Query executed successfully for NICOLAS RHO.

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.Query executed successfully for NICOLAS VCN.

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
All DataFrames for Segment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_Segment_p12m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA B.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA C.
Query executed successfully for CA A.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA A.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
All DataFrames for SubSegment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_SubSegment_p12m.pkl.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.Query executed successfully for NICOLAS.

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
All DataFrames for SubCategory saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_SubCategory_p12m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.Query executed successfully for CA A.

Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Sector saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_Sector_p3m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.Query executed successfully for CA D.

Query executed successfully for CA E.
All DataFrames for Segment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_Segment_p3m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA C.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.Query executed successfully for NICOLAS VCN.

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA E.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
All DataFrames for SubSegment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_SubSegment_p3m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS IDF.Query executed successfully for NICOLAS PAC.

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA A.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NATIONAL.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for CA C.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA D.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for CA C.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for CA C.
Query executed successfully for CA E.
All DataFrames for SubCategory saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_SubCategory_p3m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Sector saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_Sector_manuf_p12m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
All DataFrames for Segment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_Segment_manuf_p12m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for HMSM.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.Query executed successfully for CA B.

Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.Query executed successfully for NICOLAS VCN.

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for CA C.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
All DataFrames for SubSegment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_SubSegment_manuf_p12m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for HMSM.Query executed successfully for CA E.

Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.Query executed successfully for NICOLAS CCP.

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NATIONAL.
Query executed successfully for CA B.
Query executed successfully for HMSM.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NATIONAL.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA E.
Query executed successfully for CA C.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubCategory saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_SubCategory_manuf_p12m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA E.
Query executed successfully for CA D.
All DataFrames for Sector saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_Sector_manuf_p3m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA C.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for CA B.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for CA D.
All DataFrames for Segment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_Segment_manuf_p3m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for CA A.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA D.Query executed successfully for CA C.

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
All DataFrames for SubSegment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_SubSegment_manuf_p3m.pkl.
Query executed successfully for HMSM.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NATIONAL.
Query executed successfully for CA B.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.
Query executed successfully for CA A.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NATIONAL.
Query executed successfully for CA E.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for HMSM.
Query executed successfully for NICOLAS.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS RHO.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA B.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA C.
Query executed successfully for CA D.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA E.
Query executed successfully for NATIONAL.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS.
Query executed successfully for HMSM.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS VCN.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for NICOLAS EST.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)
C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubCategory saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_SubCategory_manuf_p3m.pkl.

C:\Users\SophieZIMMERMANN\AppData\Local\Temp\ipykernel_32336\738960321.py:118: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, maintotal_df], ignore_index=True)

## Price Point Distribution By Product Scraped(Item)

In [8]:
# def execute_dax_query(entity_name, mkt, hierby, client, manuf):
#     outputdic={}
#     if not categories or len(categories) == 0:
#         raise ValueError("categories list must have at least one element")

#     columns = [
#         "Scraped Av. Price/Unit", "Scraped Av. Price/KG"
#     ]
#     column_exprs = ", ".join(f'"{col}", COALESCE([{col}], 0)' for col in columns)

#     client_filter = ''
#     if client:
#         client_filter = f'FILTER(Products, Products[{BrandOrTopB}] = "{client}")'

#     manuf_filter = ''
#     if manuf:
#         manuf_filter = f'FILTER(Products, Products[Top Companies] = "{manuf}")'

#     # Compose CALCULATETABLE filter arguments list (only non-empty filters)
#     filter_args = [f'FILTER(Products, Products[Category] = "{categories[0]}")']
#     if client_filter:
#         filter_args.append(client_filter)
#     if manuf_filter:
#         filter_args.append(manuf_filter)
#     filter_args.append(f'TREATAS({{ "{entity_name}" }}, Market[{mkt}])')
#     filter_args.append('FILTER(\'Scope\', \'Scope\'[Scope] = "Category")')

#     filters_str = ",\n            ".join(filter_args)

#     dax_query = f"""
#         EVALUATE
#         VAR BaseTable =
#             CROSSJOIN(
#                 VALUES(Calendar[End of Week]),
#                 VALUES(Products[{prodORitem}]),
#                 VALUES(Products[Total Size])
#             )
#         VAR FilteredTable =
#             CALCULATETABLE(
#                 BaseTable,
#                 {filters_str}
#             )
#         RETURN
#             ADDCOLUMNS(
#                 FilteredTable,
#                 {column_exprs}
#             )
#         """

#     parenttotal_dax_query = f"""
#             EVALUATE
#             CALCULATETABLE(
#                 ADDCOLUMNS(
#                     SUMMARIZECOLUMNS(
#                         Products[{hierby}]

#                     ),
#                 {column_exprs}
#             ),
#             Products[Category] = "{categories[0]}",
#             {client_filter}
#             {manuf_filter}
#             TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
#             FILTER('Scope', 'Scope'[Scope] = "Category")
#         )
#     """
#         # Grand total query
#     grandtotal_query = f"""
#         EVALUATE
#         CALCULATETABLE(
#             ADDCOLUMNS(
#                 VALUES(Products[Category]),
#                 {column_exprs}
#             ),
#             Products[Category] = "{categories[0]}",
#             {client_filter}
#             {manuf_filter}
#             TREATAS({{ "{entity_name}" }}, Market[{mkt}])
#         )
#     """

#     try:
#         with adodbapi.connect(conn_str) as conn:
#             conn.timeout = 500  # Increase timeout to 300 seconds
#             with conn.cursor() as cursor:
#                 cursor.execute(dax_query)
#                 columns_result = [desc[0] for desc in cursor.description]
#                 data = cursor.fetchall()
                
#         with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
#             cursor.execute(parenttotal_dax_query)
#             maintotal_columns = [desc[0] for desc in cursor.description]
#             maintotal_data = cursor.fetchall()
            
#         with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
#             cursor.execute(grandtotal_query)
#             grandtotal_columns = [desc[0] for desc in cursor.description]
#             grandtotal_data = cursor.fetchall()

#         df = pd.DataFrame(data, columns=columns_result)
#         df.columns = df.columns.str.replace(r'.*\[|\]', '', regex=True)
#         df = df.loc[~(df.select_dtypes(include='number') == 0).all(axis=1)]
#         maintotal_df = pd.DataFrame(maintotal_data, columns=maintotal_columns)
#         maintotal_df.columns = maintotal_df.columns.str.replace(r'.*\[|\]', '', regex=True)
#         maintotal_df = maintotal_df.loc[~(maintotal_df.select_dtypes(include='number') == 0).all(axis=1)]
        
#         grand_tot = pd.DataFrame(grandtotal_data, columns=grandtotal_columns)
#         grand_tot.columns = grand_tot.columns.str.replace(r'.*\[|\]', '', regex=True)
#         grand_tot = grand_tot.loc[~(grand_tot.select_dtypes(include='number') == 0).all(axis=1)]
        
#         if maintotal_df.shape[1] > 1:
#             maintotal_df.iloc[:, 0] = maintotal_df.iloc[:, 0].astype(str) + " Total"

#         if maintotal_df.empty:
#             outputdic[key] = maintotal_df
#             return outputdic
#         if not maintotal_df.empty:
#             df_with_totals = pd.concat([df,maintotal_df], ignore_index=True)
    
#         if not grand_tot.empty:
#             # Create a dict for the first two columns
#             grand_tot[df.columns[0]] = 'Grand Total'
#             grand_tot[df.columns[1]] = np.nan  # or pd.NA

#             # Ensure all required columns exist, fill missing ones with NaN
#             for col in df.columns:
#                 if col not in grand_tot.columns:
#                     grand_tot[col] = np.nan

#             # Reorder columns exactly as in df
#             grand_tot = grand_tot[df.columns]
#             df = pd.concat([df_with_totals, grand_tot], ignore_index=True)

#         outputdic[key] = df

#         print(f"Query executed successfully for {entity_name}.")
#     except adodbapi.DatabaseError as db_error:
#         print(f"Database error for {entity_name} in {mkt}: {db_error}")
#     except Exception as e:
#         print(f"Unexpected error for {entity_name} in {mkt}: {e}")

#     return outputdic


# def process_dax_queries(entity_hierarchy, hierarchy_levels, client_brands=None,client_manuf=None):
#     with ThreadPoolExecutor(max_workers=8) as executor:
#         dfs_results = {} 
#         futures = {}
#         ordered_keys = []
#         for hierby, hier_values in hierarchy_levels:
#             if hierby == "Category":
#                     continue
#             if isinstance(hier_values, list):
#                 if client_brands: 
#                     for mkt, entity_list in entity_hierarchy:
#                         for entity in entity_list:
#                             for manuf in client_manuf:
#                                 for client in client_brands: 
#                                     key = f"{client} | {entity}"
#                                     ordered_keys.append(key)
#                                     future = executor.submit(
#                                         execute_dax_query, entity, mkt, hierby, client,manuf
#                                     )
#                                     futures[future] = key
#                 else:
#                     for mkt, entity_list in entity_hierarchy:
#                         for entity in entity_list:
#                             for manuf in client_manuf:
#                                 key = f"{manuf} | {entity}"
#                                 ordered_keys.append(key)
#                                 future = executor.submit(
#                                     execute_dax_query, entity, mkt, hierby, '',manuf
#                                 )
#                                 futures[future] = key               


#             temp_results = {}
#             for future in as_completed(futures):
#                 result = future.result()
#                 temp_results.update(result)

#             for key in ordered_keys:
#                 if key in temp_results:
#                     dfs_results[key] = temp_results[key]

#             if client_brands:
#                 filename = f"price_distribution_scraped_{hierby}.pkl"
#             else:
#                 filename = f"price_distribution_scraped_{hierby}_manuf.pkl"


#             output_file = f"{path}\\{filename}"
#             with open(output_file, "wb") as f:
#                 pd.to_pickle(dfs_results, f)
            
#             print(f"All DataFrames for {hierby} saved to {output_file}.")

# if client_brands:
#     process_dax_queries(entity_hierarchy, hierarchy_levels, client_brands=client_brands,client_manuf=client_manuf)
# if client_manuf:
#     process_dax_queries(entity_hierarchy, hierarchy_levels, client_manuf=client_manuf)

## Price Point Distribution By Brand

In [15]:
def execute_dax_query(entity_name, entity_type, mkt, area, hierby):
    outputdic = {}

    key = f"{entity_name} | {entity_type}" 
    


    columns = "Av Price/Unit", "Value Share"
    column_exprs = ", ".join(f'"{col}", COALESCE([{col}], 0)' for col in columns)

    dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Products,
                    Products[{BrandOrTopB}],
                    Products[Pack Size]
                ),
                {column_exprs}
            ),
            Products[{hierby}] = "{entity_type}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{hierby}")
        )
    """

    # Parent total query
    parenttotal_dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(Products, Products[{BrandOrTopB}]),
                {column_exprs}
            ),
            Products[{hierby}] = "{entity_type}",
        
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{hierby}")
        )
    """

    grandtotal_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(VALUES(Products[Category]), {column_exprs}),
            Products[{hierby}] = "{entity_type}",
            
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{hierby}")

        )
    """

    try:
        # 1. Main query
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(dax_query)
            data_columns = [desc[0] for desc in cursor.description]
            data = cursor.fetchall()

        # 2. Parent total query
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(parenttotal_dax_query)
            maintotal_columns = [desc[0] for desc in cursor.description]
            maintotal_data = cursor.fetchall()

        # 3. Grand total query
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(grandtotal_query)
            grandtotal_columns = [desc[0] for desc in cursor.description]
            grandtotal_data = cursor.fetchall()

        # Now build DataFrames safely
        df = pd.DataFrame(data, columns=data_columns)
        df.columns = df.columns.str.replace(r'.*\[|\]', '', regex=True)
        df = df.loc[~(df.select_dtypes(include='number') == 0).all(axis=1)]

        maintotal_df = pd.DataFrame(maintotal_data, columns=maintotal_columns)
        maintotal_df.columns = maintotal_df.columns.str.replace(r'.*\[|\]', '', regex=True)
        maintotal_df = maintotal_df.loc[~(maintotal_df.select_dtypes(include='number') == 0).all(axis=1)]
        

        grand_tot = pd.DataFrame(grandtotal_data, columns=grandtotal_columns)
        grand_tot.columns = grand_tot.columns.str.replace(r'.*\[|\]', '', regex=True)
        grand_tot = grand_tot.loc[~(grand_tot.select_dtypes(include='number') == 0).all(axis=1)]
        



        if not maintotal_df.empty:
            maintotal_df.iloc[:, 0] = maintotal_df.iloc[:, 0].astype(str) + " Total"
            df = pd.concat([df,maintotal_df], ignore_index=True)
  
        if not grand_tot.empty:
            grand_tot[df.columns[0]] = 'Grand Total'
            grand_tot[df.columns[1]] = np.nan
            grand_tot = grand_tot.reindex(columns=df.columns)
            df = pd.concat([df, grand_tot], ignore_index=True)

        outputdic[key] = df
        print(f"Query executed successfully for {entity_name}.")

    except adodbapi.DatabaseError as db_error:
        print(f"Database error for {entity_name} in {mkt}: {db_error}")
    except Exception as e:
        print(f"Unexpected error for {entity_name} in {mkt}: {e}")

    return outputdic


def process_dax_queries(entity_hierarchy, hierarchy_levels):
    with ThreadPoolExecutor(max_workers=8) as executor:
        dfs_results = {} 
        futures = {}
        ordered_keys=[]
        for hierby, hier_values in hierarchy_levels:
            if isinstance(hier_values, list):
                for value in hier_values:
                    for mkt, area, entity_list in entity_hierarchy:
                        for entity in entity_list:
                            # print(hierby,value,entity)                                    
                            key = f"{entity} | {value}"
                            ordered_keys.append(key)
                            future = executor.submit(execute_dax_query, entity,value,mkt, area, hierby)
                            futures[future] = key
       
        temp_results = {}
        for future in as_completed(futures):
            result = future.result()
            temp_results.update(result)

        # Insert results in original order
        for key in ordered_keys:
            if key in temp_results:
                dfs_results[key] = temp_results[key]
        filename = f"price_distribution_by_brands_category.pkl"
        output_file = f"{path}\\{filename}"
        with open(output_file, "wb") as f:
            pd.to_pickle(dfs_results, f)
        
        print(f"All DataFrames saved to {output_file}.")

process_dax_queries(entity_hierarchy,hierarchy_levels)

Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS VCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for CA E.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA C.
Query executed successfully for NICOLAS.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS VCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_by_brands_category.pkl.

## By brand For Sec,Seg,SubSeg... (Slide 7)

In [ ]:
def execute_dax_query(entity_name, entity_type, mkt, area, hierby):
    outputdic = {}
 
    key = f"{entity_name} | {entity_type}"
    
    columns = "Av Price/Unit", "Value Share"
    column_exprs = ", ".join(f'"{col}", COALESCE([{col}], 0)' for col in columns)
             
    dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Products,
                    Products[{BrandOrTopB}],
                    Products[{hierby}],
                    Products[Pack Size]
                ),
                {column_exprs}
            ),
            Products[{direct_parent[hierby]}] = "{entity_type}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{direct_parent[hierby]}")
        )
    """
 
    # Parent total query
    parenttotal_dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(Products, Products[{BrandOrTopB}]),
                {column_exprs}
            ),
            Products[{direct_parent[hierby]}] = "{entity_type}",
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "Category")
        )
    """
    itemtotal_dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(Products,Products[{BrandOrTopB}],
                Products[{hierby}]),
                {column_exprs}
            ),
            Products[{direct_parent[hierby]}] = "{entity_type}",
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "Category")
        )
    """
 
    grandtotal_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(VALUES(Products[Category]), {column_exprs}),
            Products[Category] = "{categories[0]}",
            TREATAS({p12m_dax}, Calendar[MonthYear]),
            TREATAS({{"{area}"}}, Market[Area]),
            TREATAS({{ "{entity_name}" }}, Market[{mkt}])
        )
    """
 
    try:
        with adodbapi.connect(conn_str) as conn:
            with conn.cursor() as cursor:
                cursor.execute(dax_query)
                df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
 
            with conn.cursor() as cursor:
                cursor.execute(parenttotal_dax_query)
                maintotal_df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
         
            with conn.cursor() as cursor:
                cursor.execute(itemtotal_dax_query)
                itemtotal_df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
 
 
            with conn.cursor() as cursor:
                cursor.execute(grandtotal_query)
                grand_tot = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
 
        for dataframe in [df,maintotal_df,itemtotal_df, grand_tot]:
            dataframe.columns = dataframe.columns.str.replace(r'.*\[|\]', '', regex=True)
            dataframe.dropna(how='all', inplace=True)
       
            cols_to_check = ["Av Price/Unit", "Value Share"]
            dataframe.drop(
                index=dataframe[
                    (dataframe[cols_to_check].abs() < 1e-6).all(axis=1)
                ].index,
                inplace=True
            )    
           
 
        if not maintotal_df.empty:
            maintotal_df.iloc[:, 0] = maintotal_df.iloc[:, 0].astype(str) + " Total"
            df = pd.concat([df, maintotal_df], ignore_index=True)
     
        if not itemtotal_df.empty:
            itemtotal_df.iloc[:, 1] = itemtotal_df.iloc[:, 1].astype(str) + " Total"
            df = pd.concat([df, itemtotal_df], ignore_index=True)
           
        if not grand_tot.empty:
            grand_tot[df.columns[0]] = 'Grand Total'
            grand_tot[df.columns[1]] = np.nan
            grand_tot = grand_tot.reindex(columns=df.columns)
            df = pd.concat([df, grand_tot], ignore_index=True)
 
        outputdic[key] = df
        print(f"Query executed successfully for {entity_name}.")
 
    except adodbapi.DatabaseError as db_error:
        print(f"Database error for {entity_name} in {mkt}: {db_error}")
    except Exception as e:
        print(f"Unexpected error for {entity_name} in {mkt}: {e}")
 
    return outputdic
 
 
def process_dax_queries(entity_hierarchy, hierarchy_levels):
    with ThreadPoolExecutor(max_workers=8) as executor:
        for hierby, hier_values in hierarchy_levels:
            if hierby == "Category":
                continue
 
            hierarchy_dict = dict(hierarchy_levels)
            parent_level = direct_parent.get(hierby)
            parent_values = hierarchy_dict.get(parent_level, [])
 
            if not parent_values:
                continue
 
            futures = {}
            ordered_keys = []
 
            # Determine prodORitem per level
 
            for value in parent_values:
                for mkt, area, entity_list in entity_hierarchy:
                    for entity in entity_list:
                        for manuf in client_manuf:
                            key = f"{entity} | {value}"
                            ordered_keys.append(key)
                            futures[executor.submit(
                                execute_dax_query, entity, value, mkt, area, hierby
                            )] = key
 
            dfs_results = {}
            for future in as_completed(futures):
                result = future.result()
                dfs_results.update(result)
 
            dfs_results = {key: dfs_results[key] for key in ordered_keys if key in dfs_results}
           
            filename = f"price_distribution_by_brands_{hierby}"
                     
            output_file = f"{path}\\{filename}"
            with open(output_file, "wb") as f:
                pd.to_pickle(dfs_results, f)
            print(f"All DataFrames for {hierby} saved to {output_file}.")
 
 
process_dax_queries(entity_hierarchy, hierarchy_levels)

Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS CCP.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.Query executed successfully for CA A.

Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Sector saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_by_brands_Sector.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for Segment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_by_brands_Segment.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCA.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NATIONAL.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.Query executed successfully for CA A.

Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA B.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NATIONAL.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA D.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.Query executed successfully for NICOLAS VCN.

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubSegment saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_distribution_by_brands_SubSegment.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NATIONAL.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NATIONAL.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS VCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for NATIONAL.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.

## Price Point Comparison by Product

In [ ]:
def execute_dax_query(ManuforBrand,entity_name, entity_type, mkt, area, hierby, p12m=True):
    outputdic = {}

    key = f"{entity_name} | {entity_type}"
    
    if p12m:
        timeper = p12m_dax
        columns = ["Value Share", "Gross Margin %"]
        row_fields = [
            f"Products[{ManuforBrand}]",
            f"Products[{prodORitem}]"
        ]
    else:
        timeper = p3m_dax
        columns = ["Base Price/Unit", "Base Price/KG", "Value Sales", "Value Share"]
        row_fields = [
            f"Products[{ManuforBrand}]",
            f"Products[{prodORitem}]",
            "Products[Total Size]"
        ]

    summarize_fields = ",\n                        ".join(row_fields)
    column_exprs = ",\n                ".join(f'"{col}", COALESCE([{col}], 0)' for col in columns)

    dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Products,
                    {summarize_fields}
                ),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            Products[{hierby}] = "{entity_type}",
            TREATAS({timeper}, Calendar[MonthYear]),
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{hierby}")
        )
    """

    # Parent total query
    parenttotal_dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(Products, Products[{ManuforBrand}]),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({timeper}, Calendar[MonthYear]),
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            Products[{hierby}] = "{entity_type}",
            FILTER('Scope', 'Scope'[Scope] = "{hierby}")
        )
    """
    itemtotal_dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(Products,Products[{prodORitem}]),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({timeper}, Calendar[MonthYear]),
            Products[{hierby}] = "{entity_type}",
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{hierby}")
        )
    """

    grandtotal_query = f"""
        EVALUATE
        CALCULATETABLE( 
            ADDCOLUMNS(VALUES(Products[Category]), {column_exprs}),
            TREATAS({timeper}, Calendar[MonthYear]),
            Products[{hierby}] = "{entity_type}",
            TREATAS({{ "{entity_name}" }}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{hierby}")
            
        )
    """

    try:
        
        
        with adodbapi.connect(conn_str) as conn:
            with conn.cursor() as cursor:
                cursor.execute(dax_query)
                df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])

            with conn.cursor() as cursor:
                cursor.execute(parenttotal_dax_query)
                maintotal_df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
          
            with conn.cursor() as cursor:
                cursor.execute(itemtotal_dax_query)
                itemtotal_df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])


            with conn.cursor() as cursor:
                cursor.execute(grandtotal_query)
                grand_tot = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
          
            numeric_columns = columns
            for i, dataframe in enumerate([df, maintotal_df, itemtotal_df, grand_tot]):
                dataframe.columns = dataframe.columns.str.replace(r'.*\[|\]', '', regex=True)
                dataframe.dropna(how='all', inplace=True)

                if not dataframe.empty:
                    # Force conversion to numeric in case some values are strings
                    dataframe[numeric_columns] = dataframe[numeric_columns].apply(pd.to_numeric, errors='coerce')

                    # Now drop rows where all numeric values are 0.0
                    mask_all_zero = (dataframe[numeric_columns].fillna(0.0) == 0.0).all(axis=1)
                    dataframe = dataframe[~mask_all_zero]

                if i == 0:
                    df = dataframe
                elif i == 1:
                    maintotal_df = dataframe
                elif i == 2:
                    itemtotal_df = dataframe
                else:
                    grand_tot = dataframe



        if not maintotal_df.empty:
            maintotal_df.iloc[:, 0] = maintotal_df.iloc[:, 0].astype(str) + " Total"
            df = pd.concat([df, maintotal_df], ignore_index=True)
            
        if not p12m:
            if not itemtotal_df.empty:
                itemtotal_df.iloc[:, 0] = itemtotal_df.iloc[:, 0].astype(str) + " Total"
                df = pd.concat([df, itemtotal_df], ignore_index=True)
            
        if not grand_tot.empty:
            grand_tot[df.columns[0]] = 'Grand Total'
            grand_tot[df.columns[1]] = np.nan
            grand_tot = grand_tot.reindex(columns=df.columns)
            df = pd.concat([df, grand_tot], ignore_index=True)

        outputdic[key] = df
        print(f"Query executed successfully for {entity_name}.")

    except adodbapi.DatabaseError as db_error:
        print(f"Database error for {entity_name} in {mkt}: {db_error}")
    except Exception as e:
        print(f"Unexpected error for {entity_name} in {mkt}: {e}")

    return outputdic


def process_dax_queries(ManuforBrand,entity_hierarchy, hierarchy_levels,p12m):
    with ThreadPoolExecutor(max_workers=8) as executor:
        dfs_results = {} 
        futures = {}
        ordered_keys=[]
        for hierby, hier_values in hierarchy_levels:
            if isinstance(hier_values, list):
                for value in hier_values:
                    for mkt, area, entity_list in entity_hierarchy:
                        for entity in entity_list:
                            # print(hierby,value,entity)                                    
                            key = f"{entity} | {value}"
                            ordered_keys.append(key)
                            future = executor.submit(execute_dax_query,ManuforBrand, entity,value,mkt, area, hierby,p12m)
                            futures[future] = key

        dfs_results = {}
        for future in as_completed(futures):
            result = future.result()
            dfs_results.update(result)

        dfs_results = {key: dfs_results[key] for key in ordered_keys if key in dfs_results}
        if ManuforBrand ==f'{BrandOrTopB}' :
            if p12m:
                    filename = f"price_point_by_brands_items_P12M.pkl"
            else:
                    filename = f"price_point_by_brands_items_P3M.pkl"
        else:
            if p12m:
                    filename = f"price_point_by_manuf_items_P12M.pkl"
            else:
                    filename = f"price_point_by_manuf_items_P3M.pkl"           
        output_file = f"{path}\\{filename}"
        with open(output_file, "wb") as f:
            pd.to_pickle(dfs_results, f)
        print(f"All DataFrames for {hierby} saved to {output_file}.")


# Example Invocation
process_dax_queries(f'{BrandOrTopB}',entity_hierarchy, hierarchy_levels,p12m=True)
process_dax_queries(f'{BrandOrTopB}',entity_hierarchy, hierarchy_levels,p12m=False)
process_dax_queries(f'{ManufOrTopC}',entity_hierarchy, hierarchy_levels,p12m=True)
process_dax_queries(f'{ManufOrTopC}',entity_hierarchy, hierarchy_levels,p12m=False)

Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS VCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for CA E.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for NATIONAL.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for NATIONAL.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA D.
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for NATIONAL.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for NATIONAL.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for NATIONAL.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for NATIONAL.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
All DataFrames for SubCategory saved to c:\Users\SophieZIMMERMANN\Documents\Slide-Automate\Pricing slide duplicate\Pricing Datasets NewEX\price_point_by_brands_items_P12M.pkl.
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCT.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS RHO.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA A.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for NATIONAL.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for NATIONAL.
Query executed successfully for CA D.

## Price Correlation

In [ ]:
def execute_dax_query(entity_name,entity_type, mkt, area, hierby):
    outputdic = {}
    key =  f"{entity_type} | {entity_name}"
    

    columns = [
        "Volume Share",'Av Price/KG','Value Share'
    ]
    
    column_exprs = ", ".join(f'"{col}", COALESCE([{col}], 0)' for col in columns)

    # Main query
    dax_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                CROSSJOIN(
                    DISTINCT(Products[{BrandOrTopB}]),
                    DISTINCT(Calendar[QuarterStart]),
                    DISTINCT(Calendar[End of Week])
                ),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p36m_dax}, Calendar[MonthYear]),
            Products[{hierby}] = "{entity_type}",
            TREATAS({{"{entity_name}"}}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{hierby}")
        )

    """
    fristcoltot_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    products,
                    Products[{BrandOrTopB}]
                ),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p36m_dax}, Calendar[MonthYear]),
            Products[{hierby}] = "{entity_type}",
            TREATAS({{"{entity_name}"}}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "{hierby}")
        )

    """
    secondcoltot_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Calendar,
                    Calendar[QuarterStart]
                ),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p36m_dax}, Calendar[MonthYear]),
            Products[{hierby}] = "{entity_type}",
            TREATAS({{"{entity_name}"}}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "Category")
        )
    """
    # Grand total query (not grouped by BrandOrTopB, just Category)
    grandtotal_query = f"""
        EVALUATE
        CALCULATETABLE(
            ADDCOLUMNS(
                SUMMARIZE(
                    Products,
                    Products[Category]
                ),
                {column_exprs}
            ),
            Products[Category] = "{categories[0]}",
            TREATAS({p36m_dax}, Calendar[MonthYear]),
            TREATAS({{"{entity_name}"}}, Market[{mkt}]),
            TREATAS({{"{area}"}}, Market[Area]),
            FILTER('Scope', 'Scope'[Scope] = "Category")
        )
    """
    try:
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(dax_query)
            columns = [desc[0] for desc in cursor.description]
            data = cursor.fetchall()
            
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(fristcoltot_query)
            fristttotal_columns = [desc[0] for desc in cursor.description]
            fristtotal_data = cursor.fetchall()       
             
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(secondcoltot_query)
            sectotal_columns = [desc[0] for desc in cursor.description]
            sectotal_data = cursor.fetchall()  
        with adodbapi.connect(conn_str) as conn, conn.cursor() as cursor:
            cursor.execute(grandtotal_query)
            grandtotal_columns = [desc[0] for desc in cursor.description]
            grandtotal_data = cursor.fetchall()
            
            df = pd.DataFrame(data, columns=columns)
            df.columns = df.columns.str.replace(r'.*\[|\]', '', regex=True)         
            df = df.loc[~(df.select_dtypes(include='number') == 0).all(axis=1)]  # Remove zero rows

            maintotal_df = pd.DataFrame(fristtotal_data, columns=fristttotal_columns)
            maintotal_df.columns = maintotal_df.columns.str.replace(r'.*\[|\]', '', regex=True)
            maintotal_df = maintotal_df.loc[~(maintotal_df.select_dtypes(include='number') == 0).all(axis=1)]
            
            sectotal_df = pd.DataFrame(sectotal_data, columns=sectotal_columns)
            sectotal_df.columns = sectotal_df.columns.str.replace(r'.*\[|\]', '', regex=True)
            sectotal_df = sectotal_df.loc[~(sectotal_df.select_dtypes(include='number') == 0).all(axis=1)]
        
            grand_tot = pd.DataFrame(grandtotal_data, columns=grandtotal_columns)
            grand_tot.columns = grand_tot.columns.str.replace(r'.*\[|\]', '', regex=True)
            grand_tot = grand_tot.loc[~(grand_tot.select_dtypes(include='number') == 0).all(axis=1)]

            if maintotal_df.shape[1] > 1:
                maintotal_df.iloc[:, 0] = maintotal_df.iloc[:, 0].astype(str) + " Total"
            
            if sectotal_df.shape[1] > 1:
                first_col = sectotal_df.columns[0]
                # Ensure datetime
                sectotal_df[first_col] = pd.to_datetime(sectotal_df[first_col], errors='coerce')

                # Format date and append ' total'
                sectotal_df[first_col] = sectotal_df[first_col].dt.strftime('%Y-%m-%d') + " Total"



            if sectotal_df.empty:
                outputdic[key] = sectotal_df
                return outputdic

            if maintotal_df.empty:
                outputdic[key] = maintotal_df
                return outputdic
        
            
            if not maintotal_df.empty:
                df_with_totals = pd.concat([df,maintotal_df], ignore_index=True)
                
            df_with_totals['QuarterStart'] = pd.to_datetime(df_with_totals['QuarterStart']).dt.strftime('%Y-%m-%d')

            if not sectotal_df.empty:
                dfsec_with_totals = pd.concat([df_with_totals,sectotal_df], ignore_index=True)

            

            grand_tot = pd.DataFrame(grandtotal_data, columns=grandtotal_columns)
            grand_tot.columns = grand_tot.columns.str.replace(r'.*\[|\]', '', regex=True)
            grand_tot = grand_tot.loc[~(grand_tot.select_dtypes(include='number') == 0).all(axis=1)]  # Remove zero rows
          
            if not grand_tot.empty:
                # Set first column value to 'Grand Total', second column to NaN
                grand_tot[df.columns[0]] = 'Grand Total'
                grand_tot[df.columns[1]] = np.nan  # or pd.NA

                # Restrict grand_tot to only columns that appear in df
                grand_tot = grand_tot[df.columns.intersection(grand_tot.columns)]

            # Concatenate all together
            df = pd.concat([dfsec_with_totals, grand_tot], ignore_index=True)

            outputdic[key] = df


            
            print(f"Query executed successfully for {entity_name}.")
    except adodbapi.DatabaseError as db_error:
        print(f"Database error for {entity_name} in {mkt}: {db_error}")
    except Exception as e:
        print(f"Unexpected error for {entity_name} in {mkt}: {e}")

    return outputdic



def process_dax_queries(entity_hierarchy, hierarchy_levels):
    with ThreadPoolExecutor(max_workers=8) as executor:
        dfs_results = {} 
        futures = {}
        ordered_keys=[]
        for hierby, hier_values in hierarchy_levels:
            if isinstance(hier_values, list):
                for value in hier_values:
                    for mkt, area, entity_list in entity_hierarchy:
                        for entity in entity_list:
                            # print(hierby,value,entity)                                    
                            key = f"{value} | {entity}"
                            ordered_keys.append(key)
                            future = executor.submit(execute_dax_query, entity,value,mkt, area, hierby)
                            futures[future] = key
       
        temp_results = {}
        for future in as_completed(futures):
            result = future.result()
            temp_results.update(result)

        # Insert results in original order
        for key in ordered_keys:
            if key in temp_results:
                dfs_results[key] = temp_results[key]
        filename =  f"price_correlation_P3Y.pkl"

        output_file = f"{path}\\{filename}"
        with open(output_file, "wb") as f:
            pd.to_pickle(dfs_results, f)
        
        print(f"All DataFrames saved to {output_file}.")

process_dax_queries(entity_hierarchy,hierarchy_levels)

<adodbapi.apibase.SQLrows object at 0x0000022821CA1400>
<adodbapi.apibase.SQLrows object at 0x00000228865A2D80>
<adodbapi.apibase.SQLrows object at 0x000002287E6AEDB0>
<adodbapi.apibase.SQLrows object at 0x000002281B86E150>
<adodbapi.apibase.SQLrows object at 0x000002287D46D400>
<adodbapi.apibase.SQLrows object at 0x000002288449BDD0>
<adodbapi.apibase.SQLrows object at 0x0000022821CB5DC0>
<adodbapi.apibase.SQLrows object at 0x000002287E6AFC50>
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
<adodbapi.apibase.SQLrows object at 0x0000022821CA3BF0>
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x000002282130CAA0>
<adodbapi.apibase.SQLrows object at 0x000002287DA434A0>
<adodbapi.apibase.SQLrows object at 0x000002281A309DC0>
<adodbapi.apibase.SQLrows object at 0x000002287602BCB0>
<adodbapi.apibase.SQLrows object at 0x000002287602BEC0>
<adodbapi.apibase.SQLrows object at 0x000002287A9580E0>
Query executed successfully for NICOLAS AQU.
<adodbapi.apibase.SQLrows object at 0x00000228990B28A0>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
<adodbapi.apibase.SQLrows object at 0x0000022827782180>
<adodbapi.apibase.SQLrows object at 0x00000228804050A0>
<adodbapi.apibase.SQLrows object at 0x0000022887322F30>
<adodbapi.apibase.SQLrows object at 0x000002289CE97800>
Query executed successfully for CA B.
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x000002287A95AC90>
Query executed successfully for CA D.
<adodbapi.apibase.SQLrows object at 0x000002289847CFE0>
<adodbapi.apibase.SQLrows object at 0x0000022883001280>
<adodbapi.apibase.SQLrows object at 0x0000022892BEBA70>
Query executed successfully for NATIONAL.
Query executed successfully for CA E.
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
<adodbapi.apibase.SQLrows object at 0x0000022890A63F80>
<adodbapi.apibase.SQLrows object at 0x0000022880F87110>
<adodbapi.apibase.SQLrows object at 0x000002281C760B30>
<adodbapi.apibase.SQLrows object at 0x00000228137B38F0>
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
<adodbapi.apibase.SQLrows object at 0x000002287B5A2060>
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCA.
<adodbapi.apibase.SQLrows object at 0x0000022825D468D0>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS CCP.
<adodbapi.apibase.SQLrows object at 0x000002281CCE68A0>
<adodbapi.apibase.SQLrows object at 0x000002287FD3B5C0>
<adodbapi.apibase.SQLrows object at 0x0000022878F49EB0>
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
<adodbapi.apibase.SQLrows object at 0x000002288A9801A0><adodbapi.apibase.SQLrows object at 0x0000022886E68E60>
<adodbapi.apibase.SQLrows object at 0x000002288A9800E0>

Query executed successfully for CA B.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
<adodbapi.apibase.SQLrows object at 0x000002280F254860>
<adodbapi.apibase.SQLrows object at 0x000002287B5A2AB0>
Query executed successfully for CA E.
Query executed successfully for CA C.
Query executed successfully for CA D.
<adodbapi.apibase.SQLrows object at 0x0000022889DF5610>
<adodbapi.apibase.SQLrows object at 0x000002282938F830>
<adodbapi.apibase.SQLrows object at 0x000002282938FEC0>
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
<adodbapi.apibase.SQLrows object at 0x00000228901DF080>
<adodbapi.apibase.SQLrows object at 0x0000022878BC83B0><adodbapi.apibase.SQLrows object at 0x0000022878BC8410>

Query executed successfully for HMSM.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x0000022819E885C0>
<adodbapi.apibase.SQLrows object at 0x0000022819E88680>
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
<adodbapi.apibase.SQLrows object at 0x0000022825D7BFB0>
<adodbapi.apibase.SQLrows object at 0x0000022825D7AF30>
<adodbapi.apibase.SQLrows object at 0x000002287F33F6E0>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
<adodbapi.apibase.SQLrows object at 0x0000022890ADF8C0>
<adodbapi.apibase.SQLrows object at 0x0000022879296D50><adodbapi.apibase.SQLrows object at 0x0000022879296DB0>

Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS EST.
Query executed successfully for NICOLAS AQU.
<adodbapi.apibase.SQLrows object at 0x0000022826F37020><adodbapi.apibase.SQLrows object at 0x000002288912D400>

Query executed successfully for CA A.
Query executed successfully for CA B.
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x0000022882302210>
<adodbapi.apibase.SQLrows object at 0x000002281DD321B0>
<adodbapi.apibase.SQLrows object at 0x00000228883EC170>
<adodbapi.apibase.SQLrows object at 0x0000022886E07BF0>
<adodbapi.apibase.SQLrows object at 0x000002288056C170>
<adodbapi.apibase.SQLrows object at 0x0000022808D9E570>
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
<adodbapi.apibase.SQLrows object at 0x000002287A072180>
<adodbapi.apibase.SQLrows object at 0x0000022878AD5040>
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x00000228579E0830>
<adodbapi.apibase.SQLrows object at 0x0000022858BCE060>
<adodbapi.apibase.SQLrows object at 0x0000022880FD6120>
<adodbapi.apibase.SQLrows object at 0x000002281F56C860>
<adodbapi.apibase.SQLrows object at 0x0000022894607080>
<adodbapi.apibase.SQLrows object at 0x000002288EFCD2E0>
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
<adodbapi.apibase.SQLrows object at 0x000002281D5B67E0>
<adodbapi.apibase.SQLrows object at 0x000002281DD74FB0>
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
<adodbapi.apibase.SQLrows object at 0x0000022884B7BA10>
<adodbapi.apibase.SQLrows object at 0x0000022889E3F080>
<adodbapi.apibase.SQLrows object at 0x0000022822DCBA70>
<adodbapi.apibase.SQLrows object at 0x00000228293A7AD0>
Query executed successfully for CA B.
<adodbapi.apibase.SQLrows object at 0x000002287880FD70>
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x000002288B146720>
Query executed successfully for CA D.
Query executed successfully for CA E.
<adodbapi.apibase.SQLrows object at 0x0000022884755E20>
<adodbapi.apibase.SQLrows object at 0x00000228890A5670>
Query executed successfully for NATIONAL.
<adodbapi.apibase.SQLrows object at 0x0000022824CCBB00>
<adodbapi.apibase.SQLrows object at 0x0000022878AD16D0>
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x00000228822CA2D0>
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
<adodbapi.apibase.SQLrows object at 0x0000022825C23AA0>
<adodbapi.apibase.SQLrows object at 0x00000228877ACA10>
<adodbapi.apibase.SQLrows object at 0x000002288C872630>
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
<adodbapi.apibase.SQLrows object at 0x000002287B3A0DD0>
<adodbapi.apibase.SQLrows object at 0x000002287A4CBE90>
Query executed successfully for NICOLAS IDF.
<adodbapi.apibase.SQLrows object at 0x0000022887AEE360>
<adodbapi.apibase.SQLrows object at 0x0000022819F9B470>
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS PAC.
<adodbapi.apibase.SQLrows object at 0x0000022893020680>
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
<adodbapi.apibase.SQLrows object at 0x000002287A4D18B0>
Query executed successfully for CA B.
<adodbapi.apibase.SQLrows object at 0x00000228279462A0>
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x000002287A1455E0>
Query executed successfully for CA D.
<adodbapi.apibase.SQLrows object at 0x000002281C23AF30>
<adodbapi.apibase.SQLrows object at 0x000002287A1E8470>
Query executed successfully for CA E.
<adodbapi.apibase.SQLrows object at 0x000002288074CE30>
<adodbapi.apibase.SQLrows object at 0x000002288D94ACF0>
<adodbapi.apibase.SQLrows object at 0x000002287FDAAF90>
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
<adodbapi.apibase.SQLrows object at 0x00000228174F9FA0>
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x0000022829341CA0><adodbapi.apibase.SQLrows object at 0x0000022829341D00>

Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS VCN.
<adodbapi.apibase.SQLrows object at 0x000002282789B2C0>
<adodbapi.apibase.SQLrows object at 0x0000022858BC6450>
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
<adodbapi.apibase.SQLrows object at 0x0000022885918920>
<adodbapi.apibase.SQLrows object at 0x0000022885918A10>
<adodbapi.apibase.SQLrows object at 0x0000022885918B60>
<adodbapi.apibase.SQLrows object at 0x000002289126C770>
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
<adodbapi.apibase.SQLrows object at 0x0000022822DAFF20>
<adodbapi.apibase.SQLrows object at 0x0000022827898D40>
<adodbapi.apibase.SQLrows object at 0x00000228189706B0>
<adodbapi.apibase.SQLrows object at 0x000002288C9501A0>
Query executed successfully for CA B.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x000002281386BD10>
<adodbapi.apibase.SQLrows object at 0x000002281B1CD220>
Query executed successfully for CA D.
Query executed successfully for NATIONAL.
<adodbapi.apibase.SQLrows object at 0x000002287E9848C0>
<adodbapi.apibase.SQLrows object at 0x0000022889E29940>
Query executed successfully for NICOLAS.Query executed successfully for CA E.

<adodbapi.apibase.SQLrows object at 0x0000022858B619D0>
<adodbapi.apibase.SQLrows object at 0x0000022890173320>
<adodbapi.apibase.SQLrows object at 0x000002288A6AF9B0>
<adodbapi.apibase.SQLrows object at 0x0000022827E69100>
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS VCN.
<adodbapi.apibase.SQLrows object at 0x000002288697B590>
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS QCA.
<adodbapi.apibase.SQLrows object at 0x0000022858B5C260>
<adodbapi.apibase.SQLrows object at 0x000002287D2C7BC0>
<adodbapi.apibase.SQLrows object at 0x0000022898E21F40>
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
<adodbapi.apibase.SQLrows object at 0x00000228783E0F50>
<adodbapi.apibase.SQLrows object at 0x0000022877380380>
Query executed successfully for NICOLAS RHO.
<adodbapi.apibase.SQLrows object at 0x00000228278525A0>
<adodbapi.apibase.SQLrows object at 0x00000228799B03B0>
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS EST.
Query executed successfully for CA A.
<adodbapi.apibase.SQLrows object at 0x0000022885D6EC00>
Query executed successfully for CA B.
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x00000228936D49B0>
<adodbapi.apibase.SQLrows object at 0x000002287D238A40><adodbapi.apibase.SQLrows object at 0x000002287D2389B0>

Query executed successfully for CA D.
Query executed successfully for CA E.
<adodbapi.apibase.SQLrows object at 0x0000022827853770>
<adodbapi.apibase.SQLrows object at 0x000002281D132270>
Query executed successfully for NATIONAL.
<adodbapi.apibase.SQLrows object at 0x000002281D1A5520>
<adodbapi.apibase.SQLrows object at 0x000002281D12EC30>
Query executed successfully for NICOLAS.
Query executed successfully for HMSM.
<adodbapi.apibase.SQLrows object at 0x00000228099230E0>
Query executed successfully for NICOLAS QCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
<adodbapi.apibase.SQLrows object at 0x0000022883D89F10>
<adodbapi.apibase.SQLrows object at 0x000002288819AFC0>
<adodbapi.apibase.SQLrows object at 0x000002288AE92C30>
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
<adodbapi.apibase.SQLrows object at 0x00000228795BAAE0>
<adodbapi.apibase.SQLrows object at 0x0000022825D23F80>
Query executed successfully for NICOLAS IDF.
<adodbapi.apibase.SQLrows object at 0x0000022825D58BC0>
<adodbapi.apibase.SQLrows object at 0x000002288E317FB0>
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
<adodbapi.apibase.SQLrows object at 0x000002288AF61AF0>
Query executed successfully for NICOLAS EST.
<adodbapi.apibase.SQLrows object at 0x0000022890B32C90>
Query executed successfully for CA A.
<adodbapi.apibase.SQLrows object at 0x00000228810404A0>
Query executed successfully for CA B.
Query executed successfully for CA C.
<adodbapi.apibase.SQLrows object at 0x0000022825D58F50>
Query executed successfully for CA D.
<adodbapi.apibase.SQLrows object at 0x000002281B1E9460>
<adodbapi.apibase.SQLrows object at 0x000002280EE27950>
<adodbapi.apibase.SQLrows object at 0x000002281EFBCD40><adodbapi.apibase.SQLrows object at 0x000002281C675D30>

Query executed successfully for CA E.
<adodbapi.apibase.SQLrows object at 0x000002287B409640>
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
<adodbapi.apibase.SQLrows object at 0x0000022828C9CB00>
Query executed successfully for HMSM.
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x00000228920097F0>
<adodbapi.apibase.SQLrows object at 0x00000228791CFF80>
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS QCA.
<adodbapi.apibase.SQLrows object at 0x000002288EFB2270>
<adodbapi.apibase.SQLrows object at 0x0000022882825340>
Query executed successfully for NICOLAS CCP.
<adodbapi.apibase.SQLrows object at 0x000002289485FF80>
<adodbapi.apibase.SQLrows object at 0x0000022891FB5760>
<adodbapi.apibase.SQLrows object at 0x0000022819E74980>
Query executed successfully for NICOLAS IDF.
Query executed successfully for NICOLAS PAC.
<adodbapi.apibase.SQLrows object at 0x00000228885356A0>
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
<adodbapi.apibase.SQLrows object at 0x000002288234B860>
<adodbapi.apibase.SQLrows object at 0x00000228784DEFC0>
Query executed successfully for NICOLAS EST.
Query executed successfully for CA B.
Query executed successfully for CA A.
<adodbapi.apibase.SQLrows object at 0x0000022878CED850>
<adodbapi.apibase.SQLrows object at 0x000002281EF4F680>
Query executed successfully for CA C.
Query executed successfully for CA E.
Query executed successfully for CA D.
<adodbapi.apibase.SQLrows object at 0x00000228884FF440>
<adodbapi.apibase.SQLrows object at 0x000002288183B440>
<adodbapi.apibase.SQLrows object at 0x000002288183B500>
<adodbapi.apibase.SQLrows object at 0x0000022828870260>
Query executed successfully for NATIONAL.
Query executed successfully for NICOLAS.
<adodbapi.apibase.SQLrows object at 0x000002281EFBE8A0>
<adodbapi.apibase.SQLrows object at 0x000002281EFBE900>
Query executed successfully for NICOLAS VCN.
Query executed successfully for NICOLAS QCN.
Query executed successfully for HMSM.
<adodbapi.apibase.SQLrows object at 0x00000228210609E0>
<adodbapi.apibase.SQLrows object at 0x0000022821060CE0>
Query executed successfully for NICOLAS QCT.
<adodbapi.apibase.SQLrows object at 0x00000228794EAF00>
Query executed successfully for NICOLAS CCP.
<adodbapi.apibase.SQLrows object at 0x00000228828BABD0>
Query executed successfully for NICOLAS QCA.
<adodbapi.apibase.SQLrows object at 0x000002288BA60260>
<adodbapi.apibase.SQLrows object at 0x000002281D0F3740>
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS IDF.
<adodbapi.apibase.SQLrows object at 0x0000022884750B90>
<adodbapi.apibase.SQLrows object at 0x000002287E986600>
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
<adodbapi.apibase.SQLrows object at 0x000002287A073F50>
<adodbapi.apibase.SQLrows object at 0x00000228884350A0>
<adodbapi.apibase.SQLrows object at 0x000002288D965790>
Query executed successfully for CA C.
Query executed successfully for CA B.
<adodbapi.apibase.SQLrows object at 0x000002281CF618E0>
<adodbapi.apibase.SQLrows object at 0x000002281B587800>
<adodbapi.apibase.SQLrows object at 0x000002281B5877A0>
<adodbapi.apibase.SQLrows object at 0x0000022880CDCA10>
<adodbapi.apibase.SQLrows object at 0x00000228792479E0>
Query executed successfully for CA D.
Query executed successfully for CA E.
Query executed successfully for NATIONAL.
Query executed successfully for HMSM.
Query executed successfully for NICOLAS.
Query executed successfully for NICOLAS QCN.
<adodbapi.apibase.SQLrows object at 0x000002281D1611C0>
<adodbapi.apibase.SQLrows object at 0x000002288C267D70>
Query executed successfully for NICOLAS QCT.
Query executed successfully for NICOLAS VCN.
<adodbapi.apibase.SQLrows object at 0x0000022805DAF6B0>
<adodbapi.apibase.SQLrows object at 0x0000022823EDDD00>
<adodbapi.apibase.SQLrows object at 0x000002287D3C82F0>
<adodbapi.apibase.SQLrows object at 0x000002281D184D70>
<adodbapi.apibase.SQLrows object at 0x000002288ECDAFC0>
<adodbapi.apibase.SQLrows object at 0x00000228932655B0>
Query executed successfully for NICOLAS QCA.
Query executed successfully for NICOLAS CCP.
Query executed successfully for NICOLAS PAC.
Query executed successfully for NICOLAS RHO.
Query executed successfully for NICOLAS AQU.
Query executed successfully for NICOLAS IDF.
<adodbapi.apibase.SQLrows object at 0x0000022824C00140>
<adodbapi.apibase.SQLrows object at 0x000002288380F260>
Query executed successfully for CA A.
Query executed successfully for NICOLAS EST.
<adodbapi.apibase.SQLrows object at 0x0000022876028AD0>
<adodbapi.apibase.SQLrows object at 0x0000022888527230>
<adodbapi.apibase.SQLrows object at 0x0000022885BAFCB0>
<adodbapi.apibase.SQLrows object at 0x0000022885BAFC80>
<adodbapi.apibase.SQLrows object at 0x00000228864C25A0>
<adodbapi.apibase.SQLrows object at 0x000002280BE2B170>
Query executed successfully for CA B.
Query executed successfully for CA C.
Query executed successfully for CA D.
Query executed successfully for CA E.
<adodbapi.apibase.SQLrows object at 0x0000022880523320>
<adodbapi.apibase.SQLrows object at 0x00000228901579E0>
Query executed successfully for NICOLAS.
Query executed successfully for NATIONAL.
<adodbapi.apibase.SQLrows object at 0x0000022886D74E00>
<adodbapi.apibase.SQLrows object at 0x0000022827E22B40>
Query executed successfully for HMSM.